<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="integrationAuditExtraResponse">
            <h2><span jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.detail.title">Integration Audit Extra Response</span> {{integrationAuditExtraResponse.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.messageDate">Message Date</span>
                </dt>
                <dd>
                    <span>{{integrationAuditExtraResponse.messageDate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.message">Message</span></dt>
                <dd>
                    <span>{{integrationAuditExtraResponse.message}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.integrationAudit">Integration Audit</span>
                </dt>
                <dd>
                    <div *ngIf="integrationAuditExtraResponse.integrationAuditId">
                        <a [routerLink]="['/integration-audit', integrationAuditExtraResponse.integrationAuditId, 'view']">{{integrationAuditExtraResponse.integrationAuditId}}</a>
                    </div>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/integration-audit-extra-response', integrationAuditExtraResponse.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
