<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-integration-audit-extra-response-heading"
                jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.home.createOrEditLabel">Create or edit a
                Integration Audit Extra Response</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_messageDate"
                           jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.messageDate">Message Date</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="messageDate" id="field_messageDate"
                               name="messageDate" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_message"
                           jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.message">Message</label>
                    <textarea class="form-control" formControlName="message" id="field_message"
                              name="message"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_integrationAudit"
                           jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.integrationAudit">Integration
                        Audit</label>
                    <select class="form-control" formControlName="integrationAuditId" id="field_integrationAudit"
                            name="integrationAudit">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let integrationAuditOption of integrationaudits; trackBy: trackIntegrationAuditById"
                            [ngValue]="integrationAuditOption.id">{{integrationAuditOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
