<div>
    <h2 id="page-heading">
        <span
            jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.home.title">Integration Audit Extra Responses</span>
        <button [routerLink]="['/integration-audit-extra-response/new']"
                class="btn btn-primary float-right jh-create-entity create-integration-audit-extra-response"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.home.createLabel">
            Create a new Integration Audit Extra Response
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.integrationAuditExtraResponse.home.search' | translate }}"
                           type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="integrationAuditExtraResponses?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.home.notFound">No integrationAuditExtraResponses found</span>
    </div>
    <div *ngIf="integrationAuditExtraResponses?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="messageDate"><span
                    jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.messageDate">Message Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="message"><span jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.message">Message</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="integrationAuditId"><span
                    jhiTranslate="pagoMundoApiApp.integrationAuditExtraResponse.integrationAudit">Integration Audit</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let integrationAuditExtraResponse of integrationAuditExtraResponses ;trackBy: trackId">
                <td><a
                    [routerLink]="['/integration-audit-extra-response', integrationAuditExtraResponse.id, 'view' ]">{{integrationAuditExtraResponse.id}}</a>
                </td>
                <td>{{integrationAuditExtraResponse.messageDate | date:'medium'}}</td>
                <td>{{integrationAuditExtraResponse.message}}</td>
                <td>
                    <div *ngIf="integrationAuditExtraResponse.integrationAuditId">
                        <a [routerLink]="['/integration-audit', integrationAuditExtraResponse.integrationAuditId , 'view' ]">{{integrationAuditExtraResponse.integrationAuditId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button
                            [routerLink]="['/integration-audit-extra-response', integrationAuditExtraResponse.id, 'view' ]"
                            class="btn btn-info btn-sm"
                            type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button
                            [routerLink]="['/integration-audit-extra-response', integrationAuditExtraResponse.id, 'edit']"
                            class="btn btn-primary btn-sm"
                            type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/integration-audit-extra-response', { outlets: { popup: integrationAuditExtraResponse.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="integrationAuditExtraResponses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
