<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="pagoMundoApiApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{transaction.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{transaction.lastUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.Status.' + transaction.status}}">{{transaction.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{transaction.statusReason}}</span>
                </dd>
                <dt><span
                    jhiTranslate="pagoMundoApiApp.transaction.amountBeforeCommission">Amount Before Commission</span>
                </dt>
                <dd>
                    <span>{{transaction.amountBeforeCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.bankCommission">Bank Commission</span></dt>
                <dd>
                    <span>{{transaction.bankCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.fxCommission">Fx Commission</span></dt>
                <dd>
                    <span>{{transaction.fxCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.rechargeCost">Recharge Cost</span></dt>
                <dd>
                    <span>{{transaction.rechargeCost}}</span>
                </dd>
                <dt><span
                    jhiTranslate="pagoMundoApiApp.transaction.amountAfterCommission">Amount After Commission</span></dt>
                <dd>
                    <span>{{transaction.amountAfterCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{transaction.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.amountLocalCurrency">Amount Local Currency</span></dt>
                <dd>
                    <span>{{transaction.amountLocalCurrency}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.bankReference">Bank Reference</span></dt>
                <dd>
                    <span>{{transaction.bankReference}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.fileName">File Name</span></dt>
                <dd>
                    <span>{{transaction.fileName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.description">Description</span></dt>
                <dd>
                    <span>{{transaction.description}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.notes">Notes</span></dt>
                <dd>
                    <span>{{transaction.notes}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.mustNotify">Must Notify</span></dt>
                <dd>
                    <span>{{transaction.mustNotify}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.infoChanged">Info Changed</span></dt>
                <dd>
                    <span>{{transaction.infoChanged}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.resellerCommission">Reseller Commission</span></dt>
                <dd>
                    <span>{{transaction.resellerCommission}}</span>
                </dd>
                <dt><span
                    jhiTranslate="pagoMundoApiApp.transaction.resellerFixedCommission">Reseller Fixed Commission</span>
                </dt>
                <dd>
                    <span>{{transaction.resellerFixedCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.resellerPercentageCommission">Reseller Percentage Commission</span>
                </dt>
                <dd>
                    <span>{{transaction.resellerPercentageCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.processType">Process Type</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.ProcessType.' + transaction.processType}}">{{transaction.processType}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.currency">Currency</span></dt>
                <dd>
                    <div *ngIf="transaction.currency">
                        <a [routerLink]="['/currency', transaction.currency?.id, 'view']">{{transaction.currency?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.merchant">Merchant</span></dt>
                <dd>
                    <div *ngIf="transaction.merchant">
                        <a [routerLink]="['/extended-user', transaction.merchant?.id, 'view']">{{transaction.merchant?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.payee">Payee</span></dt>
                <dd>
                    <div *ngIf="transaction.payee">
                        <a [routerLink]="['/extended-user', transaction.payee?.id, 'view']">{{transaction.payee?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.admin">Admin</span></dt>
                <dd>
                    <div *ngIf="transaction.admin">
                        <a [routerLink]="['/extended-user', transaction.admin?.id, 'view']">{{transaction.admin?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.bankAccount">Bank Account</span></dt>
                <dd>
                    <div *ngIf="transaction.bankAccount">
                        <a [routerLink]="['/bank-account', transaction.bankAccount?.id, 'view']">{{transaction.bankAccount?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.transactionGroup">Transaction Group</span></dt>
                <dd>
                    <div *ngIf="transaction.transactionGroup">
                        <a [routerLink]="['/transaction-group', transaction.transactionGroup?.id, 'view']">{{transaction.transactionGroup?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.reseller">Reseller</span></dt>
                <dd>
                    <div *ngIf="transaction.reseller">
                        <a [routerLink]="['/extended-user', transaction.reseller?.id, 'view']">{{transaction.reseller?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transaction.extendedUserRelation">Extended User Relation</span>
                </dt>
                <dd>
                    <div *ngIf="transaction.extendedUserRelation">
                        <a [routerLink]="['/extended-user-relation', transaction.extendedUserRelation?.id, 'view']">{{transaction.extendedUserRelation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
