<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="pagoMundoApiApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.lastUpdated" for="field_lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input id="field_lastUpdated" type="datetime-local" class="form-control" name="lastUpdated" formControlName="lastUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.statusReason" for="field_statusReason">Status Reason</label>
                    <textarea class="form-control" name="statusReason" id="field_statusReason"
                              formControlName="statusReason"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amountBeforeCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.amountBeforeCommission">Amount Before
                        Commission</label>
                    <input class="form-control" id="field_amountBeforeCommission" name="amountBeforeCommission"
                           type="number"
                           formControlName="amountBeforeCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bankCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.bankCommission">Bank Commission</label>
                    <input type="number" class="form-control" name="bankCommission" id="field_bankCommission"
                           formControlName="bankCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fxCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.fxCommission">Fx Commission</label>
                    <input type="number" class="form-control" name="fxCommission" id="field_fxCommission"
                           formControlName="fxCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.rechargeCost" for="field_rechargeCost">Recharge Cost</label>
                    <input type="number" class="form-control" name="rechargeCost" id="field_rechargeCost"
                           formControlName="rechargeCost"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amountAfterCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.amountAfterCommission">Amount After
                        Commission</label>
                    <input class="form-control" id="field_amountAfterCommission" name="amountAfterCommission"
                           type="number"
                           formControlName="amountAfterCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.exchangeRate" for="field_exchangeRate">Exchange Rate</label>
                    <input type="number" class="form-control" name="exchangeRate" id="field_exchangeRate"
                           formControlName="exchangeRate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.amountLocalCurrency" for="field_amountLocalCurrency">Amount Local Currency</label>
                    <input type="number" class="form-control" name="amountLocalCurrency" id="field_amountLocalCurrency"
                           formControlName="amountLocalCurrency"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.bankReference" for="field_bankReference">Bank Reference</label>
                    <input type="text" class="form-control" name="bankReference" id="field_bankReference"
                           formControlName="bankReference"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.fileName" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                           formControlName="fileName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description"
                           jhiTranslate="pagoMundoApiApp.transaction.description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notes"
                           jhiTranslate="pagoMundoApiApp.transaction.notes">Notes</label>
                    <textarea class="form-control" name="notes" id="field_notes"
                              formControlName="notes"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mustNotify"
                           jhiTranslate="pagoMundoApiApp.transaction.mustNotify">Must Notify</label>
                    <input class="form-control" formControlName="mustNotify" id="field_mustNotify" name="mustNotify"
                           type="checkbox"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_infoChanged"
                           jhiTranslate="pagoMundoApiApp.transaction.infoChanged">Info Changed</label>
                    <textarea class="form-control" formControlName="infoChanged" id="field_infoChanged"
                              name="infoChanged"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_resellerCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.resellerCommission">Reseller Commission</label>
                    <input class="form-control" formControlName="resellerCommission" id="field_resellerCommission"
                           name="resellerCommission"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_resellerFixedCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.resellerFixedCommission">Reseller Fixed
                        Commission</label>
                    <input class="form-control" formControlName="resellerFixedCommission"
                           id="field_resellerFixedCommission" name="resellerFixedCommission"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_resellerPercentageCommission"
                           jhiTranslate="pagoMundoApiApp.transaction.resellerPercentageCommission">Reseller Percentage
                        Commission</label>
                    <input class="form-control" formControlName="resellerPercentageCommission"
                           id="field_resellerPercentageCommission" name="resellerPercentageCommission"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_processType"
                           jhiTranslate="pagoMundoApiApp.transaction.processType">Process Type</label>
                    <select class="form-control" formControlName="processType" id="field_processType"
                            name="processType">
                        <option value="FILE_EXPORT">{{'pagoMundoApiApp.ProcessType.FILE_EXPORT' | translate}}</option>
                        <option value="API_CALL">{{'pagoMundoApiApp.ProcessType.API_CALL' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_currency"
                           jhiTranslate="pagoMundoApiApp.transaction.currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" formControlName="currency">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById"
                                [ngValue]="currencyOption.id === editForm.get('currency').value?.id ? editForm.get('currency').value : currencyOption">{{currencyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_merchant"
                           jhiTranslate="pagoMundoApiApp.transaction.merchant">Merchant</label>
                    <select class="form-control" id="field_merchant" name="merchant" formControlName="merchant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserOption.id === editForm.get('merchant').value?.id ? editForm.get('merchant').value : extendedUserOption" *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.payee" for="field_payee">Payee</label>
                    <select class="form-control" id="field_payee" name="payee" formControlName="payee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserOption.id === editForm.get('payee').value?.id ? editForm.get('payee').value : extendedUserOption" *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transaction.admin" for="field_admin">Admin</label>
                    <select class="form-control" id="field_admin" name="admin" formControlName="admin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserOption.id === editForm.get('admin').value?.id ? editForm.get('admin').value : extendedUserOption" *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bankAccount"
                           jhiTranslate="pagoMundoApiApp.transaction.bankAccount">Bank Account</label>
                    <select class="form-control" formControlName="bankAccount" id="field_bankAccount"
                            name="bankAccount">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById"
                                [ngValue]="bankAccountOption.id === editForm.get('bankAccount').value?.id ? editForm.get('bankAccount').value : bankAccountOption">{{bankAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionGroup"
                           jhiTranslate="pagoMundoApiApp.transaction.transactionGroup">Transaction Group</label>
                    <select class="form-control" formControlName="transactionGroup" id="field_transactionGroup"
                            name="transactionGroup">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let transactionGroupOption of transactiongroups; trackBy: trackTransactionGroupById"
                            [ngValue]="transactionGroupOption.id === editForm.get('transactionGroup').value?.id ? editForm.get('transactionGroup').value : transactionGroupOption">{{transactionGroupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reseller"
                           jhiTranslate="pagoMundoApiApp.transaction.reseller">Reseller</label>
                    <select class="form-control" formControlName="reseller" id="field_reseller" name="reseller">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('reseller').value?.id ? editForm.get('reseller').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_extendedUserRelation"
                           jhiTranslate="pagoMundoApiApp.transaction.extendedUserRelation">Extended User
                        Relation</label>
                    <select class="form-control" formControlName="extendedUserRelation" id="field_extendedUserRelation"
                            name="extendedUserRelation">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let extendedUserRelationOption of extendeduserrelations; trackBy: trackExtendedUserRelationById"
                            [ngValue]="extendedUserRelationOption.id === editForm.get('extendedUserRelation').value?.id ? editForm.get('extendedUserRelation').value : extendedUserRelationOption">{{extendedUserRelationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
