<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.transaction.home.title">Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.transaction.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="transactions?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.transaction.home.notFound">No transactions found</span>
    </div>
    <div class="table-responsive" *ngIf="transactions?.length > 0">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span
                    jhiTranslate="pagoMundoApiApp.transaction.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastUpdated"><span
                    jhiTranslate="pagoMundoApiApp.transaction.lastUpdated">Last Updated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.transaction.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="statusReason"><span
                    jhiTranslate="pagoMundoApiApp.transaction.statusReason">Status Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="amountBeforeCommission"><span
                    jhiTranslate="pagoMundoApiApp.transaction.amountBeforeCommission">Amount Before Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankCommission"><span jhiTranslate="pagoMundoApiApp.transaction.bankCommission">Bank Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fxCommission"><span
                    jhiTranslate="pagoMundoApiApp.transaction.fxCommission">Fx Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="rechargeCost"><span
                    jhiTranslate="pagoMundoApiApp.transaction.rechargeCost">Recharge Cost</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="amountAfterCommission"><span
                    jhiTranslate="pagoMundoApiApp.transaction.amountAfterCommission">Amount After Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="exchangeRate"><span
                    jhiTranslate="pagoMundoApiApp.transaction.exchangeRate">Exchange Rate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="amountLocalCurrency"><span
                    jhiTranslate="pagoMundoApiApp.transaction.amountLocalCurrency">Amount Local Currency</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankReference"><span jhiTranslate="pagoMundoApiApp.transaction.bankReference">Bank Reference</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fileName"><span jhiTranslate="pagoMundoApiApp.transaction.fileName">File Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="description"><span
                    jhiTranslate="pagoMundoApiApp.transaction.description">Description</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="notes"><span jhiTranslate="pagoMundoApiApp.transaction.notes">Notes</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mustNotify"><span
                    jhiTranslate="pagoMundoApiApp.transaction.mustNotify">Must Notify</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="infoChanged"><span
                    jhiTranslate="pagoMundoApiApp.transaction.infoChanged">Info Changed</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="resellerCommission"><span jhiTranslate="pagoMundoApiApp.transaction.resellerCommission">Reseller Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="resellerFixedCommission"><span
                    jhiTranslate="pagoMundoApiApp.transaction.resellerFixedCommission">Reseller Fixed Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="resellerPercentageCommission"><span
                    jhiTranslate="pagoMundoApiApp.transaction.resellerPercentageCommission">Reseller Percentage Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="processType"><span
                    jhiTranslate="pagoMundoApiApp.transaction.processType">Process Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currency.id"><span jhiTranslate="pagoMundoApiApp.transaction.currency">Currency</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="merchant.id"><span jhiTranslate="pagoMundoApiApp.transaction.merchant">Merchant</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="payee.id"><span jhiTranslate="pagoMundoApiApp.transaction.payee">Payee</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="admin.id"><span jhiTranslate="pagoMundoApiApp.transaction.admin">Admin</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankAccount.id"><span
                    jhiTranslate="pagoMundoApiApp.transaction.bankAccount">Bank Account</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="transactionGroup.id"><span jhiTranslate="pagoMundoApiApp.transaction.transactionGroup">Transaction Group</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="reseller.id"><span jhiTranslate="pagoMundoApiApp.transaction.reseller">Reseller</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extendedUserRelation.id"><span
                    jhiTranslate="pagoMundoApiApp.transaction.extendedUserRelation">Extended User Relation</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view' ]">{{transaction.id}}</a></td>
                <td>{{transaction.dateCreated | date:'medium'}}</td>
                <td>{{transaction.lastUpdated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + transaction.status}}">{{transaction.status}}</td>
                <td>{{transaction.statusReason}}</td>
                <td>{{transaction.amountBeforeCommission}}</td>
                <td>{{transaction.bankCommission}}</td>
                <td>{{transaction.fxCommission}}</td>
                <td>{{transaction.rechargeCost}}</td>
                <td>{{transaction.amountAfterCommission}}</td>
                <td>{{transaction.exchangeRate}}</td>
                <td>{{transaction.amountLocalCurrency}}</td>
                <td>{{transaction.bankReference}}</td>
                <td>{{transaction.fileName}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.notes}}</td>
                <td>{{transaction.mustNotify}}</td>
                <td>{{transaction.infoChanged}}</td>
                <td>{{transaction.resellerCommission}}</td>
                <td>{{transaction.resellerFixedCommission}}</td>
                <td>{{transaction.resellerPercentageCommission}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.ProcessType.' + transaction.processType}}">{{transaction.processType}}</td>
                <td>
                    <div *ngIf="transaction.currency">
                        <a [routerLink]="['/currency', transaction.currency?.id, 'view' ]">{{transaction.currency?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.merchant">
                        <a [routerLink]="['/extended-user', transaction.merchant?.id, 'view' ]">{{transaction.merchant?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.payee">
                        <a [routerLink]="['/extended-user', transaction.payee?.id, 'view' ]" >{{transaction.payee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.admin">
                        <a [routerLink]="['/extended-user', transaction.admin?.id, 'view' ]">{{transaction.admin?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.bankAccount">
                        <a [routerLink]="['/bank-account', transaction.bankAccount?.id, 'view' ]">{{transaction.bankAccount?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.transactionGroup">
                        <a [routerLink]="['/transaction-group', transaction.transactionGroup?.id, 'view' ]">{{transaction.transactionGroup?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.reseller">
                        <a [routerLink]="['/extended-user', transaction.reseller?.id, 'view' ]">{{transaction.reseller?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.extendedUserRelation">
                        <a [routerLink]="['/extended-user-relation', transaction.extendedUserRelation?.id, 'view' ]">{{transaction.extendedUserRelation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', { outlets: { popup: transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
