<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.notificationReceiver.home.title">Notification Receivers</span>
        <button [routerLink]="['/notification-receiver/new']"
                class="btn btn-primary float-right jh-create-entity create-notification-receiver" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.notificationReceiver.home.createLabel">
            Create a new Notification Receiver
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.notificationReceiver.home.search' | translate }}"
                           type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="notificationReceivers?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pagoMundoApiApp.notificationReceiver.home.notFound">No notificationReceivers found</span>
    </div>
    <div *ngIf="notificationReceivers?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastUpdated"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.lastUpdated">Last Updated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="retries"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.retries">Retries</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="maxRetries"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.maxRetries">Max Retries</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="reason"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.reason">Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mustSendEmail"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.mustSendEmail">Must Send Email</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="emailTemplate"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.emailTemplate">Email Template</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="emailSent"><span
                    jhiTranslate="pagoMundoApiApp.notificationReceiver.emailSent">Email Sent</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="debugReason"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.debugReason">Debug Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="emailTitleKey"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.emailTitleKey">Email Title Key</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="subject"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.subject">Subject</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="description"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.description">Description</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="notification.id"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.notification">Notification</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="receiver.id"><span
                    jhiTranslate="pagoMundoApiApp.notificationReceiver.receiver">Receiver</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="sender.id"><span jhiTranslate="pagoMundoApiApp.notificationReceiver.sender">Sender</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="userReceiver.login"><span
                    jhiTranslate="pagoMundoApiApp.notificationReceiver.userReceiver">User Receiver</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notificationReceiver of notificationReceivers ;trackBy: trackId">
                <td><a
                    [routerLink]="['/notification-receiver', notificationReceiver.id, 'view' ]">{{notificationReceiver.id}}</a>
                </td>
                <td>{{notificationReceiver.dateCreated | date:'medium'}}</td>
                <td>{{notificationReceiver.lastUpdated | date:'medium'}}</td>
                <td>{{notificationReceiver.retries}}</td>
                <td>{{notificationReceiver.maxRetries}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + notificationReceiver.status}}">{{notificationReceiver.status}}</td>
                <td>{{notificationReceiver.reason}}</td>
                <td>{{notificationReceiver.mustSendEmail}}</td>
                <td>{{notificationReceiver.emailTemplate}}</td>
                <td>{{notificationReceiver.emailSent}}</td>
                <td>{{notificationReceiver.debugReason}}</td>
                <td>{{notificationReceiver.emailTitleKey}}</td>
                <td>{{notificationReceiver.subject}}</td>
                <td>{{notificationReceiver.description}}</td>
                <td>
                    <div *ngIf="notificationReceiver.notification">
                        <a [routerLink]="['/notification', notificationReceiver.notification?.id, 'view' ]">{{notificationReceiver.notification?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="notificationReceiver.receiver">
                        <a [routerLink]="['/extended-user', notificationReceiver.receiver?.id, 'view' ]">{{notificationReceiver.receiver?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="notificationReceiver.sender">
                        <a [routerLink]="['/extended-user', notificationReceiver.sender?.id, 'view' ]">{{notificationReceiver.sender?.id}}</a>
                    </div>
                </td>
                <td>
                    {{notificationReceiver.userReceiver?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/notification-receiver', notificationReceiver.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/notification-receiver', notificationReceiver.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/notification-receiver', { outlets: { popup: notificationReceiver.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="notificationReceivers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
