<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-notification-receiver-heading"
                jhiTranslate="pagoMundoApiApp.notificationReceiver.home.createOrEditLabel">Create or edit a Notification
                Receiver</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="dateCreated" id="field_dateCreated"
                               name="dateCreated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdated"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="lastUpdated" id="field_lastUpdated"
                               name="lastUpdated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_retries"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.retries">Retries</label>
                    <input class="form-control" formControlName="retries" id="field_retries" name="retries"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxRetries"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.maxRetries">Max Retries</label>
                    <input class="form-control" formControlName="maxRetries" id="field_maxRetries" name="maxRetries"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reason"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.reason">Reason</label>
                    <textarea class="form-control" formControlName="reason" id="field_reason"
                              name="reason"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mustSendEmail"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.mustSendEmail">Must Send Email</label>
                    <input class="form-control" formControlName="mustSendEmail" id="field_mustSendEmail"
                           name="mustSendEmail"
                           type="checkbox"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailTemplate"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.emailTemplate">Email Template</label>
                    <input class="form-control" formControlName="emailTemplate" id="field_emailTemplate"
                           name="emailTemplate"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailSent"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.emailSent">Email Sent</label>
                    <input class="form-control" formControlName="emailSent" id="field_emailSent" name="emailSent"
                           type="checkbox"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_debugReason"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.debugReason">Debug Reason</label>
                    <input class="form-control" formControlName="debugReason" id="field_debugReason" name="debugReason"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailTitleKey"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.emailTitleKey">Email Title Key</label>
                    <input class="form-control" formControlName="emailTitleKey" id="field_emailTitleKey"
                           name="emailTitleKey"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subject"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.subject">Subject</label>
                    <input class="form-control" formControlName="subject" id="field_subject" name="subject"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.description">Description</label>
                    <textarea class="form-control" formControlName="description" id="field_description"
                              name="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_notification"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.notification">Notification</label>
                    <select class="form-control" formControlName="notification" id="field_notification"
                            name="notification">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let notificationOption of notifications; trackBy: trackNotificationById"
                                [ngValue]="notificationOption.id === editForm.get('notification').value?.id ? editForm.get('notification').value : notificationOption">{{notificationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_receiver"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.receiver">Receiver</label>
                    <select class="form-control" formControlName="receiver" id="field_receiver" name="receiver">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('receiver').value?.id ? editForm.get('receiver').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sender"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.sender">Sender</label>
                    <select class="form-control" formControlName="sender" id="field_sender" name="sender">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('sender').value?.id ? editForm.get('sender').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userReceiver"
                           jhiTranslate="pagoMundoApiApp.notificationReceiver.userReceiver">User Receiver</label>
                    <select class="form-control" formControlName="userReceiver" id="field_userReceiver"
                            name="userReceiver">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let userOption of users; trackBy: trackUserById"
                                [ngValue]="userOption.id === editForm.get('userReceiver').value?.id ? editForm.get('userReceiver').value : userOption">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
