<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notificationReceiver">
            <h2><span
                jhiTranslate="pagoMundoApiApp.notificationReceiver.detail.title">Notification Receiver</span> {{notificationReceiver.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{notificationReceiver.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{notificationReceiver.lastUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.retries">Retries</span></dt>
                <dd>
                    <span>{{notificationReceiver.retries}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.maxRetries">Max Retries</span></dt>
                <dd>
                    <span>{{notificationReceiver.maxRetries}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + notificationReceiver.status}}">{{notificationReceiver.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.reason">Reason</span></dt>
                <dd>
                    <span>{{notificationReceiver.reason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.mustSendEmail">Must Send Email</span></dt>
                <dd>
                    <span>{{notificationReceiver.mustSendEmail}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.emailTemplate">Email Template</span></dt>
                <dd>
                    <span>{{notificationReceiver.emailTemplate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.emailSent">Email Sent</span></dt>
                <dd>
                    <span>{{notificationReceiver.emailSent}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.debugReason">Debug Reason</span></dt>
                <dd>
                    <span>{{notificationReceiver.debugReason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.emailTitleKey">Email Title Key</span></dt>
                <dd>
                    <span>{{notificationReceiver.emailTitleKey}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.subject">Subject</span></dt>
                <dd>
                    <span>{{notificationReceiver.subject}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.description">Description</span></dt>
                <dd>
                    <span>{{notificationReceiver.description}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.notification">Notification</span></dt>
                <dd>
                    <div *ngIf="notificationReceiver.notification">
                        <a [routerLink]="['/notification', notificationReceiver.notification?.id, 'view']">{{notificationReceiver.notification?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.receiver">Receiver</span></dt>
                <dd>
                    <div *ngIf="notificationReceiver.receiver">
                        <a [routerLink]="['/extended-user', notificationReceiver.receiver?.id, 'view']">{{notificationReceiver.receiver?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.sender">Sender</span></dt>
                <dd>
                    <div *ngIf="notificationReceiver.sender">
                        <a [routerLink]="['/extended-user', notificationReceiver.sender?.id, 'view']">{{notificationReceiver.sender?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationReceiver.userReceiver">User Receiver</span></dt>
                <dd>
                    {{notificationReceiver.userReceiver?.login}}
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/notification-receiver', notificationReceiver.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
