<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-country-heading" jhiTranslate="pagoMundoApiApp.country.home.createOrEditLabel">Create or edit a Country</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.country.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_spanishName"
                           jhiTranslate="pagoMundoApiApp.country.spanishName">Spanish Name</label>
                    <input class="form-control" formControlName="spanishName" id="field_spanishName" name="spanishName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subRegionName"
                           jhiTranslate="pagoMundoApiApp.country.subRegionName">Sub Region Name</label>
                    <input class="form-control" formControlName="subRegionName" id="field_subRegionName"
                           name="subRegionName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_regionName"
                           jhiTranslate="pagoMundoApiApp.country.regionName">Region Name</label>
                    <input class="form-control" formControlName="regionName" id="field_regionName" name="regionName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code"
                           jhiTranslate="pagoMundoApiApp.country.code">Code</label>
                    <input class="form-control" formControlName="code" id="field_code" name="code"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_forPayee"
                           jhiTranslate="pagoMundoApiApp.country.forPayee">For Payee</label>
                    <input class="form-control" formControlName="forPayee" id="field_forPayee" name="forPayee"
                           type="checkbox"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyName"
                           jhiTranslate="pagoMundoApiApp.country.currencyName">Currency Name</label>
                    <input class="form-control" formControlName="currencyName" id="field_currencyName"
                           name="currencyName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyCode"
                           jhiTranslate="pagoMundoApiApp.country.currencyCode">Currency Code</label>
                    <input class="form-control" formControlName="currencyCode" id="field_currencyCode"
                           name="currencyCode"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyValue"
                           jhiTranslate="pagoMundoApiApp.country.currencyValue">Currency Value</label>
                    <input class="form-control" formControlName="currencyValue" id="field_currencyValue"
                           name="currencyValue"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyBase"
                           jhiTranslate="pagoMundoApiApp.country.currencyBase">Currency Base</label>
                    <input class="form-control" formControlName="currencyBase" id="field_currencyBase"
                           name="currencyBase"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyLastUpdated"
                           jhiTranslate="pagoMundoApiApp.country.currencyLastUpdated">Currency Last Updated</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="currencyLastUpdated" id="field_currencyLastUpdated"
                               name="currencyLastUpdated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
