<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.country.home.title">Countries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-country" [routerLink]="['/country/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.country.home.createLabel">
            Create a new Country
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.country.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="countries?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.country.home.notFound">No countries found</span>
    </div>
    <div class="table-responsive" *ngIf="countries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="name"><span jhiTranslate="pagoMundoApiApp.country.name">Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="spanishName"><span jhiTranslate="pagoMundoApiApp.country.spanishName">Spanish Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="subRegionName"><span
                    jhiTranslate="pagoMundoApiApp.country.subRegionName">Sub Region Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="regionName"><span jhiTranslate="pagoMundoApiApp.country.regionName">Region Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="code"><span jhiTranslate="pagoMundoApiApp.country.code">Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="forPayee"><span jhiTranslate="pagoMundoApiApp.country.forPayee">For Payee</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currencyName"><span
                    jhiTranslate="pagoMundoApiApp.country.currencyName">Currency Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currencyCode"><span
                    jhiTranslate="pagoMundoApiApp.country.currencyCode">Currency Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currencyValue"><span
                    jhiTranslate="pagoMundoApiApp.country.currencyValue">Currency Value</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currencyBase"><span
                    jhiTranslate="pagoMundoApiApp.country.currencyBase">Currency Base</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currencyLastUpdated"><span jhiTranslate="pagoMundoApiApp.country.currencyLastUpdated">Currency Last Updated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries ;trackBy: trackId">
                <td><a [routerLink]="['/country', country.id, 'view' ]">{{country.id}}</a></td>
                <td>{{country.name}}</td>
                <td>{{country.spanishName}}</td>
                <td>{{country.subRegionName}}</td>
                <td>{{country.regionName}}</td>
                <td>{{country.code}}</td>
                <td>{{country.forPayee}}</td>
                <td>{{country.currencyName}}</td>
                <td>{{country.currencyCode}}</td>
                <td>{{country.currencyValue}}</td>
                <td>{{country.currencyBase}}</td>
                <td>{{country.currencyLastUpdated | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/country', country.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/country', country.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/country', { outlets: { popup: country.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="countries?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
