<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="country">
            <h2><span jhiTranslate="pagoMundoApiApp.country.detail.title">Country</span> {{country.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.country.name">Name</span></dt>
                <dd>
                    <span>{{country.name}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.spanishName">Spanish Name</span></dt>
                <dd>
                    <span>{{country.spanishName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.subRegionName">Sub Region Name</span></dt>
                <dd>
                    <span>{{country.subRegionName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.regionName">Region Name</span></dt>
                <dd>
                    <span>{{country.regionName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.code">Code</span></dt>
                <dd>
                    <span>{{country.code}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.forPayee">For Payee</span></dt>
                <dd>
                    <span>{{country.forPayee}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.currencyName">Currency Name</span></dt>
                <dd>
                    <span>{{country.currencyName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.currencyCode">Currency Code</span></dt>
                <dd>
                    <span>{{country.currencyCode}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.currencyValue">Currency Value</span></dt>
                <dd>
                    <span>{{country.currencyValue}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.currencyBase">Currency Base</span></dt>
                <dd>
                    <span>{{country.currencyBase}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.country.currencyLastUpdated">Currency Last Updated</span></dt>
                <dd>
                    <span>{{country.currencyLastUpdated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/country', country.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
