<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notification-heading" jhiTranslate="pagoMundoApiApp.notification.home.createOrEditLabel">Create or edit a Notification</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           formControlName="subject"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.lastUpdated" for="field_lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input id="field_lastUpdated" type="datetime-local" class="form-control" name="lastUpdated" formControlName="lastUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.statusReason" for="field_statusReason">Status Reason</label>
                    <textarea class="form-control" name="statusReason" id="field_statusReason"
                              formControlName="statusReason"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.notification.category" for="field_category">Category</label>
                    <select class="form-control" name="category" formControlName="category" id="field_category">
                        <option value="ISSUE">{{'pagoMundoApiApp.NotificationCategory.ISSUE' | translate}}</option>
                        <option
                            value="TRANSACTION">{{'pagoMundoApiApp.NotificationCategory.TRANSACTION' | translate}}</option>
                        <option value="FUND">{{'pagoMundoApiApp.NotificationCategory.FUND' | translate}}</option>
                        <option
                            value="WITHDRAWAL">{{'pagoMundoApiApp.NotificationCategory.WITHDRAWAL' | translate}}</option>
                        <option
                            value="EXTENDED_USER">{{'pagoMundoApiApp.NotificationCategory.EXTENDED_USER' | translate}}</option>
                        <option
                            value="USER_ACCOUNT">{{'pagoMundoApiApp.NotificationCategory.USER_ACCOUNT' | translate}}</option>
                        <option value="MESSAGE">{{'pagoMundoApiApp.NotificationCategory.MESSAGE' | translate}}</option>
                        <option
                            value="RELATION">{{'pagoMundoApiApp.NotificationCategory.RELATION' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notes"
                           jhiTranslate="pagoMundoApiApp.notification.notes">Notes</label>
                    <textarea class="form-control" formControlName="notes" id="field_notes"
                              name="notes"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subCategory"
                           jhiTranslate="pagoMundoApiApp.notification.subCategory">Sub Category</label>
                    <select class="form-control" formControlName="subCategory" id="field_subCategory"
                            name="subCategory">
                        <option
                            value="MESSAGE">{{'pagoMundoApiApp.NotificationSubCategory.MESSAGE' | translate}}</option>
                        <option
                            value="ISSUE_CREATED">{{'pagoMundoApiApp.NotificationSubCategory.ISSUE_CREATED' | translate}}</option>
                        <option
                            value="ISSUE_IN_PROCESS">{{'pagoMundoApiApp.NotificationSubCategory.ISSUE_IN_PROCESS' | translate}}</option>
                        <option
                            value="ISSUE_ACCEPTED">{{'pagoMundoApiApp.NotificationSubCategory.ISSUE_ACCEPTED' | translate}}</option>
                        <option
                            value="ISSUE_REJECTED">{{'pagoMundoApiApp.NotificationSubCategory.ISSUE_REJECTED' | translate}}</option>
                        <option
                            value="ISSUE_CANCELLED">{{'pagoMundoApiApp.NotificationSubCategory.ISSUE_CANCELLED' | translate}}</option>
                        <option
                            value="TRANSACTION_CREATED">{{'pagoMundoApiApp.NotificationSubCategory.TRANSACTION_CREATED' | translate}}</option>
                        <option
                            value="TRANSACTION_IN_PROCESS">{{'pagoMundoApiApp.NotificationSubCategory.TRANSACTION_IN_PROCESS' | translate}}</option>
                        <option
                            value="TRANSACTION_ACCEPTED">{{'pagoMundoApiApp.NotificationSubCategory.TRANSACTION_ACCEPTED' | translate}}</option>
                        <option
                            value="TRANSACTION_REJECTED">{{'pagoMundoApiApp.NotificationSubCategory.TRANSACTION_REJECTED' | translate}}</option>
                        <option
                            value="TRANSACTION_CANCELLED">{{'pagoMundoApiApp.NotificationSubCategory.TRANSACTION_CANCELLED' | translate}}</option>
                        <option
                            value="FUND_CREATED">{{'pagoMundoApiApp.NotificationSubCategory.FUND_CREATED' | translate}}</option>
                        <option
                            value="FUND_ACCEPTED">{{'pagoMundoApiApp.NotificationSubCategory.FUND_ACCEPTED' | translate}}</option>
                        <option
                            value="FUND_REJECTED">{{'pagoMundoApiApp.NotificationSubCategory.FUND_REJECTED' | translate}}</option>
                        <option
                            value="FUND_CANCELLED">{{'pagoMundoApiApp.NotificationSubCategory.FUND_CANCELLED' | translate}}</option>
                        <option
                            value="WITHDRAWAL_CREATED">{{'pagoMundoApiApp.NotificationSubCategory.WITHDRAWAL_CREATED' | translate}}</option>
                        <option
                            value="WITHDRAWAL_ACCEPTED">{{'pagoMundoApiApp.NotificationSubCategory.WITHDRAWAL_ACCEPTED' | translate}}</option>
                        <option
                            value="WITHDRAWAL_REJECTED">{{'pagoMundoApiApp.NotificationSubCategory.WITHDRAWAL_REJECTED' | translate}}</option>
                        <option
                            value="WITHDRAWAL_CANCELLED">{{'pagoMundoApiApp.NotificationSubCategory.WITHDRAWAL_CANCELLED' | translate}}</option>
                        <option
                            value="USER_CREATED">{{'pagoMundoApiApp.NotificationSubCategory.USER_CREATED' | translate}}</option>
                        <option
                            value="USER_FORGOT_PASSWORD">{{'pagoMundoApiApp.NotificationSubCategory.USER_FORGOT_PASSWORD' | translate}}</option>
                        <option
                            value="EXTENDED_USER_CREATED">{{'pagoMundoApiApp.NotificationSubCategory.EXTENDED_USER_CREATED' | translate}}</option>
                        <option
                            value="EXTENDED_USER_IN_PROCESS">{{'pagoMundoApiApp.NotificationSubCategory.EXTENDED_USER_IN_PROCESS' | translate}}</option>
                        <option
                            value="EXTENDED_USER_ACCEPTED">{{'pagoMundoApiApp.NotificationSubCategory.EXTENDED_USER_ACCEPTED' | translate}}</option>
                        <option
                            value="EXTENDED_USER_REJECTED">{{'pagoMundoApiApp.NotificationSubCategory.EXTENDED_USER_REJECTED' | translate}}</option>
                        <option
                            value="EXTENDED_USER_CANCELLED">{{'pagoMundoApiApp.NotificationSubCategory.EXTENDED_USER_CANCELLED' | translate}}</option>
                        <option
                            value="EXTENDED_USER_CHANGE_PROFILE">{{'pagoMundoApiApp.NotificationSubCategory.EXTENDED_USER_CHANGE_PROFILE' | translate}}</option>
                        <option
                            value="RELATION_ACCEPTED">{{'pagoMundoApiApp.NotificationSubCategory.RELATION_ACCEPTED' | translate}}</option>
                        <option
                            value="RELATION_CANCELLED">{{'pagoMundoApiApp.NotificationSubCategory.RELATION_CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_receiverGroup"
                           jhiTranslate="pagoMundoApiApp.notification.receiverGroup">Receiver Group</label>
                    <select class="form-control" formControlName="receiverGroup" id="field_receiverGroup"
                            name="receiverGroup">
                        <option value="ALL_ADMINS">{{'pagoMundoApiApp.ReceiverGroup.ALL_ADMINS' | translate}}</option>
                        <option
                            value="ALL_RESELLERS">{{'pagoMundoApiApp.ReceiverGroup.ALL_RESELLERS' | translate}}</option>
                        <option
                            value="ALL_MERCHANTS">{{'pagoMundoApiApp.ReceiverGroup.ALL_MERCHANTS' | translate}}</option>
                        <option value="ALL_PAYEES">{{'pagoMundoApiApp.ReceiverGroup.ALL_PAYEES' | translate}}</option>
                        <option
                            value="ALL_MERCHANTS_FROM_RESELLER">{{'pagoMundoApiApp.ReceiverGroup.ALL_MERCHANTS_FROM_RESELLER' | translate}}</option>
                        <option
                            value="ALL_PAYEES_FROM_MERCHANT">{{'pagoMundoApiApp.ReceiverGroup.ALL_PAYEES_FROM_MERCHANT' | translate}}</option>
                        <option
                            value="ALL_MERCHANTS_FROM_PAYEE">{{'pagoMundoApiApp.ReceiverGroup.ALL_MERCHANTS_FROM_PAYEE' | translate}}</option>
                        <option value="RECEIVERS">{{'pagoMundoApiApp.ReceiverGroup.RECEIVERS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entityId"
                           jhiTranslate="pagoMundoApiApp.notification.entityId">Entity Id</label>
                    <input class="form-control" formControlName="entityId" id="field_entityId" name="entityId"
                           type="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sender"
                           jhiTranslate="pagoMundoApiApp.notification.sender">Sender</label>
                    <select class="form-control" id="field_sender" name="sender" formControlName="sender">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('sender').value?.id ? editForm.get('sender').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responsible"
                           jhiTranslate="pagoMundoApiApp.notification.responsible">Responsible</label>
                    <select class="form-control" formControlName="responsible" id="field_responsible"
                            name="responsible">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('responsible').value?.id ? editForm.get('responsible').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_extendedUser"
                           jhiTranslate="pagoMundoApiApp.notification.extendedUser">Extended User</label>
                    <select class="form-control" formControlName="extendedUser" id="field_extendedUser"
                            name="extendedUser">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('extendedUser').value?.id ? editForm.get('extendedUser').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
