<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span jhiTranslate="pagoMundoApiApp.notification.detail.title">Notification</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.notification.subject">Subject</span></dt>
                <dd>
                    <span>{{notification.subject}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.description">Description</span></dt>
                <dd>
                    <span>{{notification.description}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{notification.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{notification.lastUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + notification.status}}">{{notification.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{notification.statusReason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.category">Category</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.NotificationCategory.' + notification.category}}">{{notification.category}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.notes">Notes</span></dt>
                <dd>
                    <span>{{notification.notes}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.subCategory">Sub Category</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.NotificationSubCategory.' + notification.subCategory}}">{{notification.subCategory}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.receiverGroup">Receiver Group</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.ReceiverGroup.' + notification.receiverGroup}}">{{notification.receiverGroup}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.entityId">Entity Id</span></dt>
                <dd>
                    <span>{{notification.entityId}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.sender">Sender</span></dt>
                <dd>
                    <div *ngIf="notification.sender">
                        <a [routerLink]="['/extended-user', notification.sender?.id, 'view']">{{notification.sender?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.responsible">Responsible</span></dt>
                <dd>
                    <div *ngIf="notification.responsible">
                        <a [routerLink]="['/extended-user', notification.responsible?.id, 'view']">{{notification.responsible?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notification.extendedUser">Extended User</span></dt>
                <dd>
                    <div *ngIf="notification.extendedUser">
                        <a [routerLink]="['/extended-user', notification.extendedUser?.id, 'view']">{{notification.extendedUser?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
