<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.notification.home.title">Notifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification" [routerLink]="['/notification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.notification.home.createLabel">
            Create a new Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.notification.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="notifications?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.notification.home.notFound">No notifications found</span>
    </div>
    <div class="table-responsive" *ngIf="notifications?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="subject"><span jhiTranslate="pagoMundoApiApp.notification.subject">Subject</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="description"><span
                    jhiTranslate="pagoMundoApiApp.notification.description">Description</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span
                    jhiTranslate="pagoMundoApiApp.notification.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastUpdated"><span
                    jhiTranslate="pagoMundoApiApp.notification.lastUpdated">Last Updated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.notification.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="statusReason"><span jhiTranslate="pagoMundoApiApp.notification.statusReason">Status Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="category"><span jhiTranslate="pagoMundoApiApp.notification.category">Category</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="notes"><span jhiTranslate="pagoMundoApiApp.notification.notes">Notes</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="subCategory"><span
                    jhiTranslate="pagoMundoApiApp.notification.subCategory">Sub Category</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="receiverGroup"><span jhiTranslate="pagoMundoApiApp.notification.receiverGroup">Receiver Group</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="entityId"><span jhiTranslate="pagoMundoApiApp.notification.entityId">Entity Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="sender.id"><span jhiTranslate="pagoMundoApiApp.notification.sender">Sender</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="responsible.id"><span
                    jhiTranslate="pagoMundoApiApp.notification.responsible">Responsible</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extendedUser.id"><span jhiTranslate="pagoMundoApiApp.notification.extendedUser">Extended User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notification of notifications ;trackBy: trackId">
                <td><a [routerLink]="['/notification', notification.id, 'view' ]">{{notification.id}}</a></td>
                <td>{{notification.subject}}</td>
                <td>{{notification.description}}</td>
                <td>{{notification.dateCreated | date:'medium'}}</td>
                <td>{{notification.lastUpdated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + notification.status}}">{{notification.status}}</td>
                <td>{{notification.statusReason}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.NotificationCategory.' + notification.category}}">{{notification.category}}</td>
                <td>{{notification.notes}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.NotificationSubCategory.' + notification.subCategory}}">{{notification.subCategory}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.ReceiverGroup.' + notification.receiverGroup}}">{{notification.receiverGroup}}</td>
                <td>{{notification.entityId}}</td>
                <td>
                    <div *ngIf="notification.sender">
                        <a [routerLink]="['/extended-user', notification.sender?.id, 'view' ]" >{{notification.sender?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="notification.responsible">
                        <a [routerLink]="['/extended-user', notification.responsible?.id, 'view' ]">{{notification.responsible?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="notification.extendedUser">
                        <a [routerLink]="['/extended-user', notification.extendedUser?.id, 'view' ]">{{notification.extendedUser?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/notification', notification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notification', notification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notification', { outlets: { popup: notification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="notifications?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
