<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedUserRelation">
            <h2><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.detail.title">Extended User Relation</span> {{extendedUserRelation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserRelation.status}}">{{extendedUserRelation.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{extendedUserRelation.statusReason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.dateRelated">Date Related</span></dt>
                <dd>
                    <span>{{extendedUserRelation.dateRelated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.dateUnrelated">Date Unrelated</span></dt>
                <dd>
                    <span>{{extendedUserRelation.dateUnrelated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.nickname">Nickname</span></dt>
                <dd>
                    <span>{{extendedUserRelation.nickname}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.userRelated">User Related</span></dt>
                <dd>
                    {{extendedUserRelation.userRelated?.id}}
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.extendedUser">Extended User</span></dt>
                <dd>
                    <div *ngIf="extendedUserRelation.extendedUser">
                        <a [routerLink]="['/extended-user', extendedUserRelation.extendedUser?.id, 'view']">{{extendedUserRelation.extendedUser?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.relatedBy">Related By</span></dt>
                <dd>
                    <div *ngIf="extendedUserRelation.relatedBy">
                        <a [routerLink]="['/extended-user', extendedUserRelation.relatedBy?.id, 'view']">{{extendedUserRelation.relatedBy?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.unrelatedBy">Unrelated By</span></dt>
                <dd>
                    <div *ngIf="extendedUserRelation.unrelatedBy">
                        <a [routerLink]="['/extended-user', extendedUserRelation.unrelatedBy?.id, 'view']">{{extendedUserRelation.unrelatedBy?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/extended-user-relation', extendedUserRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
