<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.extendedUserRelation.home.title">Extended User Relations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extended-user-relation" [routerLink]="['/extended-user-relation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.extendedUserRelation.home.createLabel">
            Create a new Extended User Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.extendedUserRelation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="extendedUserRelations?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.extendedUserRelation.home.notFound">No extendedUserRelations found</span>
    </div>
    <div class="table-responsive" *ngIf="extendedUserRelations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="statusReason"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.statusReason">Status Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateRelated"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.dateRelated">Date Related</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateUnrelated"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.dateUnrelated">Date Unrelated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="nickname"><span
                    jhiTranslate="pagoMundoApiApp.extendedUserRelation.nickname">Nickname</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="userRelated.id"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.userRelated">User Related</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extendedUser.id"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.extendedUser">Extended User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="relatedBy.id"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.relatedBy">Related By</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="unrelatedBy.id"><span jhiTranslate="pagoMundoApiApp.extendedUserRelation.unrelatedBy">Unrelated By</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extendedUserRelation of extendedUserRelations ;trackBy: trackId">
                <td><a
                    [routerLink]="['/extended-user-relation', extendedUserRelation.id, 'view' ]">{{extendedUserRelation.id}}</a>
                </td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserRelation.status}}">{{extendedUserRelation.status}}</td>
                <td>{{extendedUserRelation.statusReason}}</td>
                <td>{{extendedUserRelation.dateRelated | date:'medium'}}</td>
                <td>{{extendedUserRelation.dateUnrelated | date:'medium'}}</td>
                <td>{{extendedUserRelation.nickname}}</td>
                <td>
                    {{extendedUserRelation.userRelated?.id}}
                </td>
                <td>
                    <div *ngIf="extendedUserRelation.extendedUser">
                        <a [routerLink]="['/extended-user', extendedUserRelation.extendedUser?.id, 'view' ]">{{extendedUserRelation.extendedUser?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUserRelation.relatedBy">
                        <a [routerLink]="['/extended-user', extendedUserRelation.relatedBy?.id, 'view' ]">{{extendedUserRelation.relatedBy?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUserRelation.unrelatedBy">
                        <a [routerLink]="['/extended-user', extendedUserRelation.unrelatedBy?.id, 'view' ]">{{extendedUserRelation.unrelatedBy?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/extended-user-relation', extendedUserRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extended-user-relation', extendedUserRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extended-user-relation', { outlets: { popup: extendedUserRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="extendedUserRelations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
