<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-extended-user-relation-heading" jhiTranslate="pagoMundoApiApp.extendedUserRelation.home.createOrEditLabel">Create or edit a Extended User Relation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statusReason"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.statusReason">Status Reason</label>
                    <input class="form-control" formControlName="statusReason" id="field_statusReason"
                           name="statusReason"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateRelated"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.dateRelated">Date Related</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="dateRelated" id="field_dateRelated"
                               name="dateRelated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateUnrelated"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.dateUnrelated">Date Unrelated</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="dateUnrelated" id="field_dateUnrelated"
                               name="dateUnrelated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nickname"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.nickname">Nickname</label>
                    <input class="form-control" formControlName="nickname" id="field_nickname" name="nickname"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userRelated"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.userRelated">User Related</label>
                    <select class="form-control" formControlName="userRelated" id="field_userRelated"
                            name="userRelated">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let userOption of users; trackBy: trackUserById"
                                [ngValue]="userOption.id === editForm.get('userRelated').value?.id ? editForm.get('userRelated').value : userOption">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_extendedUser"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.extendedUser">Extended User</label>
                    <select class="form-control" formControlName="extendedUser" id="field_extendedUser"
                            name="extendedUser">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('extendedUser').value?.id ? editForm.get('extendedUser').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_relatedBy"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.relatedBy">Related By</label>
                    <select class="form-control" formControlName="relatedBy" id="field_relatedBy" name="relatedBy">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('relatedBy').value?.id ? editForm.get('relatedBy').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unrelatedBy"
                           jhiTranslate="pagoMundoApiApp.extendedUserRelation.unrelatedBy">Unrelated By</label>
                    <select class="form-control" formControlName="unrelatedBy" id="field_unrelatedBy"
                            name="unrelatedBy">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('unrelatedBy').value?.id ? editForm.get('unrelatedBy').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
