<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="directPaymentBank">
            <h2><span
                jhiTranslate="pagoMundoApiApp.directPaymentBank.detail.title">Direct Payment Bank</span> {{directPaymentBank.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyBankCode">Destiny Bank Code</span></dt>
                <dd>
                    <span>{{directPaymentBank.destinyBankCode}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.idTypeName">Id Type Name</span></dt>
                <dd>
                    <span>{{directPaymentBank.idTypeName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.idTypeCode">Id Type Code</span></dt>
                <dd>
                    <span>{{directPaymentBank.idTypeCode}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.cityCode">City Code</span></dt>
                <dd>
                    <span>{{directPaymentBank.cityCode}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.departmentCode">Department Code</span></dt>
                <dd>
                    <span>{{directPaymentBank.departmentCode}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.originBank">Origin Bank</span></dt>
                <dd>
                    <div *ngIf="directPaymentBank.originBank">
                        <a [routerLink]="['/bank', directPaymentBank.originBank?.id, 'view']">{{directPaymentBank.originBank?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyBank">Destiny Bank</span></dt>
                <dd>
                    <div *ngIf="directPaymentBank.destinyBank">
                        <a [routerLink]="['/bank', directPaymentBank.destinyBank?.id, 'view']">{{directPaymentBank.destinyBank?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyCity">Destiny City</span></dt>
                <dd>
                    <div *ngIf="directPaymentBank.destinyCity">
                        <a [routerLink]="['/city', directPaymentBank.destinyCity?.id, 'view']">{{directPaymentBank.destinyCity?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.directPaymentBank.idType">Id Type</span></dt>
                <dd>
                    <div *ngIf="directPaymentBank.idType">
                        <a [routerLink]="['/id-type', directPaymentBank.idType?.id, 'view']">{{directPaymentBank.idType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/direct-payment-bank', directPaymentBank.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
