<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.directPaymentBank.home.title">Direct Payment Banks</span>
        <button [routerLink]="['/direct-payment-bank/new']"
                class="btn btn-primary float-right jh-create-entity create-direct-payment-bank" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.directPaymentBank.home.createLabel">
            Create a new Direct Payment Bank
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.directPaymentBank.home.search' | translate }}" type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="directPaymentBanks?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pagoMundoApiApp.directPaymentBank.home.notFound">No directPaymentBanks found</span>
    </div>
    <div *ngIf="directPaymentBanks?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="destinyBankCode"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyBankCode">Destiny Bank Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="idTypeName"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.idTypeName">Id Type Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="idTypeCode"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.idTypeCode">Id Type Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="cityCode"><span
                    jhiTranslate="pagoMundoApiApp.directPaymentBank.cityCode">City Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="departmentCode"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.departmentCode">Department Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="originBank.id"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.originBank">Origin Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="destinyBank.id"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyBank">Destiny Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="destinyCity.id"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyCity">Destiny City</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="idType.id"><span jhiTranslate="pagoMundoApiApp.directPaymentBank.idType">Id Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let directPaymentBank of directPaymentBanks ;trackBy: trackId">
                <td><a
                    [routerLink]="['/direct-payment-bank', directPaymentBank.id, 'view' ]">{{directPaymentBank.id}}</a>
                </td>
                <td>{{directPaymentBank.destinyBankCode}}</td>
                <td>{{directPaymentBank.idTypeName}}</td>
                <td>{{directPaymentBank.idTypeCode}}</td>
                <td>{{directPaymentBank.cityCode}}</td>
                <td>{{directPaymentBank.departmentCode}}</td>
                <td>
                    <div *ngIf="directPaymentBank.originBank">
                        <a [routerLink]="['/bank', directPaymentBank.originBank?.id, 'view' ]">{{directPaymentBank.originBank?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="directPaymentBank.destinyBank">
                        <a [routerLink]="['/bank', directPaymentBank.destinyBank?.id, 'view' ]">{{directPaymentBank.destinyBank?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="directPaymentBank.destinyCity">
                        <a [routerLink]="['/city', directPaymentBank.destinyCity?.id, 'view' ]">{{directPaymentBank.destinyCity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="directPaymentBank.idType">
                        <a [routerLink]="['/id-type', directPaymentBank.idType?.id, 'view' ]">{{directPaymentBank.idType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/direct-payment-bank', directPaymentBank.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/direct-payment-bank', directPaymentBank.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/direct-payment-bank', { outlets: { popup: directPaymentBank.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="directPaymentBanks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
