<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-direct-payment-bank-heading"
                jhiTranslate="pagoMundoApiApp.directPaymentBank.home.createOrEditLabel">Create or edit a Direct Payment
                Bank</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destinyBankCode"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyBankCode">Destiny Bank Code</label>
                    <input class="form-control" formControlName="destinyBankCode" id="field_destinyBankCode"
                           name="destinyBankCode"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idTypeName"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.idTypeName">Id Type Name</label>
                    <input class="form-control" formControlName="idTypeName" id="field_idTypeName" name="idTypeName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idTypeCode"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.idTypeCode">Id Type Code</label>
                    <input class="form-control" formControlName="idTypeCode" id="field_idTypeCode" name="idTypeCode"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cityCode"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.cityCode">City Code</label>
                    <input class="form-control" formControlName="cityCode" id="field_cityCode" name="cityCode"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_departmentCode"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.departmentCode">Department Code</label>
                    <input class="form-control" formControlName="departmentCode" id="field_departmentCode"
                           name="departmentCode"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_originBank"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.originBank">Origin Bank</label>
                    <select class="form-control" formControlName="originBank" id="field_originBank" name="originBank">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let bankOption of banks; trackBy: trackBankById"
                                [ngValue]="bankOption.id === editForm.get('originBank').value?.id ? editForm.get('originBank').value : bankOption">{{bankOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destinyBank"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyBank">Destiny Bank</label>
                    <select class="form-control" formControlName="destinyBank" id="field_destinyBank"
                            name="destinyBank">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let bankOption of banks; trackBy: trackBankById"
                                [ngValue]="bankOption.id === editForm.get('destinyBank').value?.id ? editForm.get('destinyBank').value : bankOption">{{bankOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destinyCity"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.destinyCity">Destiny City</label>
                    <select class="form-control" formControlName="destinyCity" id="field_destinyCity"
                            name="destinyCity">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let cityOption of cities; trackBy: trackCityById"
                                [ngValue]="cityOption.id === editForm.get('destinyCity').value?.id ? editForm.get('destinyCity').value : cityOption">{{cityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idType"
                           jhiTranslate="pagoMundoApiApp.directPaymentBank.idType">Id Type</label>
                    <select class="form-control" formControlName="idType" id="field_idType" name="idType">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let idTypeOption of idtypes; trackBy: trackIdTypeById"
                                [ngValue]="idTypeOption.id === editForm.get('idType').value?.id ? editForm.get('idType').value : idTypeOption">{{idTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
