<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.idType.home.title">Id Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-id-type" [routerLink]="['/id-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.idType.home.createLabel">
            Create a new Id Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.idType.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="idTypes?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.idType.home.notFound">No idTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="idTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="pagoMundoApiApp.idType.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="pagoMundoApiApp.idType.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="naturalOrLegal"><span
                jhiTranslate="pagoMundoApiApp.idType.naturalOrLegal">Natural Or Legal</span>
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
            <th jhiSortBy="country.id"><span jhiTranslate="pagoMundoApiApp.idType.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let idType of idTypes ;trackBy: trackId">
                <td><a [routerLink]="['/id-type', idType.id, 'view' ]">{{idType.id}}</a></td>
                <td>{{idType.name}}</td>
                <td>{{idType.code}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.NaturalOrLegal.' + idType.naturalOrLegal}}">{{idType.naturalOrLegal}}</td>
                <td>
                    <div *ngIf="idType.country">
                        <a [routerLink]="['/country', idType.country?.id, 'view' ]" >{{idType.country?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/id-type', idType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/id-type', idType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/id-type', { outlets: { popup: idType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="idTypes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
