<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="idType">
            <h2><span jhiTranslate="pagoMundoApiApp.idType.detail.title">Id Type</span> {{idType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.idType.name">Name</span></dt>
                <dd>
                    <span>{{idType.name}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.idType.code">Code</span></dt>
                <dd>
                    <span>{{idType.code}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.idType.naturalOrLegal">Natural Or Legal</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.NaturalOrLegal.' + idType.naturalOrLegal}}">{{idType.naturalOrLegal}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.idType.country">Country</span></dt>
                <dd>
                    <div *ngIf="idType.country">
                        <a [routerLink]="['/country', idType.country?.id, 'view']">{{idType.country?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/id-type', idType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
