<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.transactionGroup.home.title">Transaction Groups</span>
        <button [routerLink]="['/transaction-group/new']"
                class="btn btn-primary float-right jh-create-entity create-transaction-group" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.transactionGroup.home.createLabel">
            Create a new Transaction Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.transactionGroup.home.search' | translate }}" type="text">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="transactionGroups?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.transactionGroup.home.notFound">No transactionGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="transactionGroups?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.transactionGroup.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.transactionGroup.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fileName"><span jhiTranslate="pagoMundoApiApp.transactionGroup.fileName">File Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="exchangeRate"><span jhiTranslate="pagoMundoApiApp.transactionGroup.exchangeRate">Exchange Rate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fileNameFromBank"><span jhiTranslate="pagoMundoApiApp.transactionGroup.fileNameFromBank">File Name From Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="directPayment"><span jhiTranslate="pagoMundoApiApp.transactionGroup.directPayment">Direct Payment</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankAccount.id"><span jhiTranslate="pagoMundoApiApp.transactionGroup.bankAccount">Bank Account</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="admin.id"><span jhiTranslate="pagoMundoApiApp.transactionGroup.admin">Admin</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionGroup of transactionGroups ;trackBy: trackId">
                <td><a [routerLink]="['/transaction-group', transactionGroup.id, 'view' ]">{{transactionGroup.id}}</a>
                </td>
                <td>{{transactionGroup.dateCreated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + transactionGroup.status}}">{{transactionGroup.status}}</td>
                <td>{{transactionGroup.fileName}}</td>
                <td>{{transactionGroup.exchangeRate}}</td>
                <td>{{transactionGroup.fileNameFromBank}}</td>
                <td>{{transactionGroup.directPayment}}</td>
                <td>
                    <div *ngIf="transactionGroup.bankAccount">
                        <a [routerLink]="['/bank-account', transactionGroup.bankAccount?.id, 'view' ]">{{transactionGroup.bankAccount?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transactionGroup.admin">
                        <a [routerLink]="['/extended-user', transactionGroup.admin?.id, 'view' ]">{{transactionGroup.admin?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction-group', transactionGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-group', transactionGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-group', { outlets: { popup: transactionGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactionGroups?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
