<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-group-heading" jhiTranslate="pagoMundoApiApp.transactionGroup.home.createOrEditLabel">Create or edit a Transaction Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.fileName" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                           formControlName="fileName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.exchangeRate"
                           for="field_exchangeRate">Exchange Rate</label>
                    <input type="number" class="form-control" name="exchangeRate" id="field_exchangeRate"
                           formControlName="exchangeRate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.fileNameFromBank"
                           for="field_fileNameFromBank">File Name From Bank</label>
                    <input type="text" class="form-control" name="fileNameFromBank" id="field_fileNameFromBank"
                           formControlName="fileNameFromBank"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_directPayment"
                           jhiTranslate="pagoMundoApiApp.transactionGroup.directPayment">Direct Payment</label>
                    <input class="form-control" formControlName="directPayment" id="field_directPayment"
                           name="directPayment"
                           type="checkbox"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.bankAccount"
                           for="field_bankAccount">Bank Account</label>
                    <select class="form-control" id="field_bankAccount" name="bankAccount"
                            formControlName="bankAccount">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="bankAccountOption.id === editForm.get('bankAccount').value?.id ? editForm.get('bankAccount').value : bankAccountOption"
                            *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.transactionGroup.admin"
                           for="field_admin">Admin</label>
                    <select class="form-control" id="field_admin" name="admin" formControlName="admin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserOption.id === editForm.get('admin').value?.id ? editForm.get('admin').value : extendedUserOption" *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById">{{extendedUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
