<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionGroup">
            <h2><span jhiTranslate="pagoMundoApiApp.transactionGroup.detail.title">Transaction Group</span> {{transactionGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{transactionGroup.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.Status.' + transactionGroup.status}}">{{transactionGroup.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.fileName">File Name</span></dt>
                <dd>
                    <span>{{transactionGroup.fileName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{transactionGroup.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.fileNameFromBank">File Name From Bank</span>
                </dt>
                <dd>
                    <span>{{transactionGroup.fileNameFromBank}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.directPayment">Direct Payment</span></dt>
                <dd>
                    <span>{{transactionGroup.directPayment}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.bankAccount">Bank Account</span></dt>
                <dd>
                    <div *ngIf="transactionGroup.bankAccount">
                        <a [routerLink]="['/bank-account', transactionGroup.bankAccount?.id, 'view']">{{transactionGroup.bankAccount?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionGroup.admin">Admin</span></dt>
                <dd>
                    <div *ngIf="transactionGroup.admin">
                        <a [routerLink]="['/extended-user', transactionGroup.admin?.id, 'view']">{{transactionGroup.admin?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction-group', transactionGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
