<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-extended-user-status-change-heading"
                jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.home.createOrEditLabel">Create or edit a Extended
                User Status Change</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated"
                           jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="dateCreated" id="field_dateCreated"
                               name="dateCreated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statusReason"
                           jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.statusReason">Status Reason</label>
                    <textarea class="form-control" formControlName="statusReason" id="field_statusReason"
                              name="statusReason"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_extendedUser"
                           jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.extendedUser">Extended User</label>
                    <select class="form-control" formControlName="extendedUser" id="field_extendedUser"
                            name="extendedUser">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('extendedUser').value?.id ? editForm.get('extendedUser').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userId"
                           jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.userId">User Id</label>
                    <select class="form-control" formControlName="userId" id="field_userId" name="userId">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('userId').value?.id ? editForm.get('userId').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
