<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedUserStatusChange">
            <h2><span
                jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.detail.title">Extended User Status Change</span> {{extendedUserStatusChange.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{extendedUserStatusChange.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserStatusChange.status}}">{{extendedUserStatusChange.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{extendedUserStatusChange.statusReason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.extendedUser">Extended User</span></dt>
                <dd>
                    <div *ngIf="extendedUserStatusChange.extendedUser">
                        <a [routerLink]="['/extended-user', extendedUserStatusChange.extendedUser?.id, 'view']">{{extendedUserStatusChange.extendedUser?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.userId">User Id</span></dt>
                <dd>
                    <div *ngIf="extendedUserStatusChange.userId">
                        <a [routerLink]="['/extended-user', extendedUserStatusChange.userId?.id, 'view']">{{extendedUserStatusChange.userId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/extended-user-status-change', extendedUserStatusChange.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
