<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.home.title">Extended User Status Changes</span>
        <button [routerLink]="['/extended-user-status-change/new']"
                class="btn btn-primary float-right jh-create-entity create-extended-user-status-change"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.home.createLabel">
            Create a new Extended User Status Change
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.extendedUserStatusChange.home.search' | translate }}"
                           type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="extendedUserStatusChanges?.length === 0" class="alert alert-warning">
        <span
            jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.home.notFound">No extendedUserStatusChanges found</span>
    </div>
    <div *ngIf="extendedUserStatusChanges?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span
                    jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="statusReason"><span jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.statusReason">Status Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extendedUser.id"><span
                    jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.extendedUser">Extended User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="userId.id"><span
                    jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.userId">User Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extendedUserStatusChange of extendedUserStatusChanges ;trackBy: trackId">
                <td><a
                    [routerLink]="['/extended-user-status-change', extendedUserStatusChange.id, 'view' ]">{{extendedUserStatusChange.id}}</a>
                </td>
                <td>{{extendedUserStatusChange.dateCreated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserStatusChange.status}}">{{extendedUserStatusChange.status}}</td>
                <td>{{extendedUserStatusChange.statusReason}}</td>
                <td>
                    <div *ngIf="extendedUserStatusChange.extendedUser">
                        <a [routerLink]="['/extended-user', extendedUserStatusChange.extendedUser?.id, 'view' ]">{{extendedUserStatusChange.extendedUser?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUserStatusChange.userId">
                        <a [routerLink]="['/extended-user', extendedUserStatusChange.userId?.id, 'view' ]">{{extendedUserStatusChange.userId?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/extended-user-status-change', extendedUserStatusChange.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/extended-user-status-change', extendedUserStatusChange.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/extended-user-status-change', { outlets: { popup: extendedUserStatusChange.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="extendedUserStatusChanges?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
