<form (ngSubmit)="confirmDelete(extendedUserStatusChange.id)" name="deleteForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button (click)="clear()" aria-hidden="true" class="close" data-dismiss="modal"
                type="button">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p [translateValues]="{id: extendedUserStatusChange.id}" id="jhi-delete-extendedUserStatusChange-heading"
           jhiTranslate="pagoMundoApiApp.extendedUserStatusChange.delete.question">Are you sure you want to delete this
            Extended User Status Change?</p>
    </div>
    <div class="modal-footer">
        <button (click)="clear()" class="btn btn-secondary" data-dismiss="modal" type="button">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button class="btn btn-danger" id="jhi-confirm-delete-extendedUserStatusChange" type="submit">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
