<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankAccount">
            <h2><span jhiTranslate="pagoMundoApiApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.bankAccount.accountNumber">Account Number</span></dt>
                <dd>
                    <span>{{bankAccount.accountNumber}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.bankAccount.bankCommission">Bank Commission</span></dt>
                <dd>
                    <span>{{bankAccount.bankCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.bankAccount.fxCommission">Fx Commission</span></dt>
                <dd>
                    <span>{{bankAccount.fxCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.bankAccount.rechargeCost">Recharge Cost</span></dt>
                <dd>
                    <span>{{bankAccount.rechargeCost}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.bankAccount.bank">Bank</span></dt>
                <dd>
                    <div *ngIf="bankAccount.bank">
                        <a [routerLink]="['/bank', bankAccount.bank?.id, 'view']">{{bankAccount.bank?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
