<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bank-account-heading" jhiTranslate="pagoMundoApiApp.bankAccount.home.createOrEditLabel">Create or edit a Bank Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.bankAccount.accountNumber" for="field_accountNumber">Account Number</label>
                    <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                           formControlName="accountNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.bankAccount.bankCommission" for="field_bankCommission">Bank Commission</label>
                    <input type="number" class="form-control" name="bankCommission" id="field_bankCommission"
                           formControlName="bankCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.bankAccount.fxCommission" for="field_fxCommission">Fx Commission</label>
                    <input type="number" class="form-control" name="fxCommission" id="field_fxCommission"
                           formControlName="fxCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.bankAccount.rechargeCost" for="field_rechargeCost">Recharge Cost</label>
                    <input type="number" class="form-control" name="rechargeCost" id="field_rechargeCost"
                           formControlName="rechargeCost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bank" jhiTranslate="pagoMundoApiApp.bankAccount.bank">Bank</label>
                    <select class="form-control" formControlName="bank" id="field_bank" name="bank">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let bankOption of banks; trackBy: trackBankById"
                                [ngValue]="bankOption.id === editForm.get('bank').value?.id ? editForm.get('bank').value : bankOption">{{bankOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
