<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.bankAccount.home.title">Bank Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank-account" [routerLink]="['/bank-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.bankAccount.home.createLabel">
            Create a new Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.bankAccount.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="bankAccounts?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.bankAccount.home.notFound">No bankAccounts found</span>
    </div>
    <div class="table-responsive" *ngIf="bankAccounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountNumber"><span jhiTranslate="pagoMundoApiApp.bankAccount.accountNumber">Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankCommission"><span jhiTranslate="pagoMundoApiApp.bankAccount.bankCommission">Bank Commission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fxCommission"><span jhiTranslate="pagoMundoApiApp.bankAccount.fxCommission">Fx Commission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rechargeCost"><span jhiTranslate="pagoMundoApiApp.bankAccount.rechargeCost">Recharge Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bank.id"><span jhiTranslate="pagoMundoApiApp.bankAccount.bank">Bank</span>
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAccount of bankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/bank-account', bankAccount.id, 'view' ]">{{bankAccount.id}}</a></td>
                <td>{{bankAccount.accountNumber}}</td>
                <td>{{bankAccount.bankCommission}}</td>
                <td>{{bankAccount.fxCommission}}</td>
                <td>{{bankAccount.rechargeCost}}</td>
                <td>
                    <div *ngIf="bankAccount.bank">
                        <a [routerLink]="['/bank', bankAccount.bank?.id, 'view' ]">{{bankAccount.bank?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bank-account', bankAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-account', { outlets: { popup: bankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="bankAccounts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
