<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedUser">
            <h2><span jhiTranslate="pagoMundoApiApp.extendedUser.detail.title">Extended User</span> {{extendedUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUser.status}}">{{extendedUser.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.lastName1">Last Name 1</span></dt>
                <dd>
                    <span>{{extendedUser.lastName1}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.lastName2">Last Name 2</span></dt>
                <dd>
                    <span>{{extendedUser.lastName2}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.firstName1">First Name 1</span></dt>
                <dd>
                    <span>{{extendedUser.firstName1}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.firstName2">First Name 2</span></dt>
                <dd>
                    <span>{{extendedUser.firstName2}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.fullName">Full Name</span></dt>
                <dd>
                    <span>{{extendedUser.fullName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.idNumber">Id Number</span></dt>
                <dd>
                    <span>{{extendedUser.idNumber}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.taxId">Tax Id</span></dt>
                <dd>
                    <span>{{extendedUser.taxId}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.Gender.' + extendedUser.gender}}">{{extendedUser.gender}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.maritalStatus">Marital Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.MaritalStatus.' + extendedUser.maritalStatus}}">{{extendedUser.maritalStatus}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.residenceAddress">Residence Address</span></dt>
                <dd>
                    <span>{{extendedUser.residenceAddress}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.postalAddress">Postal Address</span></dt>
                <dd>
                    <span>{{extendedUser.postalAddress}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{extendedUser.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.mobileNumber">Mobile Number</span></dt>
                <dd>
                    <span>{{extendedUser.mobileNumber}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{extendedUser.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{extendedUser.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{extendedUser.lastUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.email">Email</span></dt>
                <dd>
                    <span>{{extendedUser.email}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.company">Company</span></dt>
                <dd>
                    <span>{{extendedUser.company}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.imageIdUrl">Image Id Url</span></dt>
                <dd>
                    <span>{{extendedUser.imageIdUrl}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.imageAddressUrl">Image Address Url</span></dt>
                <dd>
                    <span>{{extendedUser.imageAddressUrl}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.balance">Balance</span></dt>
                <dd>
                    <span>{{extendedUser.balance}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{extendedUser.statusReason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.role">Role</span></dt>
                <dd>
                    <span>{{extendedUser.role}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.cardNumber">Card Number</span></dt>
                <dd>
                    <span>{{extendedUser.cardNumber}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.bankCommission">Bank Commission</span></dt>
                <dd>
                    <span>{{extendedUser.bankCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.fxCommission">Fx Commission</span></dt>
                <dd>
                    <span>{{extendedUser.fxCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.rechargeCost">Recharge Cost</span></dt>
                <dd>
                    <span>{{extendedUser.rechargeCost}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.useMerchantCommission">Use Merchant Commission</span></dt>
                <dd>
                    <span>{{extendedUser.useMerchantCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.bankAccountNumber">Bank Account Number</span></dt>
                <dd>
                    <span>{{extendedUser.bankAccountNumber}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.useDirectPayment">Use Direct Payment</span></dt>
                <dd>
                    <span>{{extendedUser.useDirectPayment}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.bankAccountType">Bank Account Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.BankAccountType.' + extendedUser.bankAccountType}}">{{extendedUser.bankAccountType}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.canChangePaymentMethod">Can Change Payment Method</span></dt>
                <dd>
                    <span>{{extendedUser.canChangePaymentMethod}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.mustNotify">Must Notify</span></dt>
                <dd>
                    <span>{{extendedUser.mustNotify}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.profileInfoChanged">Profile Info Changed</span></dt>
                <dd>
                    <span>{{extendedUser.profileInfoChanged}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.confirmedProfile">Confirmed Profile</span></dt>
                <dd>
                    <span>{{extendedUser.confirmedProfile}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.resellerFixedCommission">Reseller Fixed Commission</span></dt>
                <dd>
                    <span>{{extendedUser.resellerFixedCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.resellerPercentageCommission">Reseller Percentage Commission</span></dt>
                <dd>
                    <span>{{extendedUser.resellerPercentageCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.useFlatCommission">Use Flat Commission</span></dt>
                <dd>
                    <span>{{extendedUser.useFlatCommission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.bankBranch">Bank Branch</span></dt>
                <dd>
                    <span>{{extendedUser.bankBranch}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.alias">Alias</span></dt>
                <dd>
                    <span>{{extendedUser.alias}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.user">User</span></dt>
                <dd>
                    {{extendedUser.user?.id}}
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.residenceCity">Residence City</span></dt>
                <dd>
                    <div *ngIf="extendedUser.residenceCity">
                        <a [routerLink]="['/city', extendedUser.residenceCity?.id, 'view']">{{extendedUser.residenceCity?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.postalCity">Postal City</span></dt>
                <dd>
                    <div *ngIf="extendedUser.postalCity">
                        <a [routerLink]="['/city', extendedUser.postalCity?.id, 'view']">{{extendedUser.postalCity?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.idType">Id Type</span></dt>
                <dd>
                    <div *ngIf="extendedUser.idType">
                        <a [routerLink]="['/id-type', extendedUser.idType?.id, 'view']">{{extendedUser.idType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.extendedUserGroup">Extended User Group</span></dt>
                <dd>
                    <div *ngIf="extendedUser.extendedUserGroup">
                        <a [routerLink]="['/extended-user-group', extendedUser.extendedUserGroup?.id, 'view']">{{extendedUser.extendedUserGroup?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.bank">Bank</span></dt>
                <dd>
                    <div *ngIf="extendedUser.bank">
                        <a [routerLink]="['/bank', extendedUser.bank?.id, 'view']">{{extendedUser.bank?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.residenceCountry">Residence Country</span></dt>
                <dd>
                    <div *ngIf="extendedUser.residenceCountry">
                        <a [routerLink]="['/country', extendedUser.residenceCountry?.id, 'view']">{{extendedUser.residenceCountry?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.postalCountry">Postal Country</span></dt>
                <dd>
                    <div *ngIf="extendedUser.postalCountry">
                        <a [routerLink]="['/country', extendedUser.postalCountry?.id, 'view']">{{extendedUser.postalCountry?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.directPaymentBank">Direct Payment Bank</span></dt>
                <dd>
                    <div *ngIf="extendedUser.directPaymentBank">
                        <a [routerLink]="['/bank', extendedUser.directPaymentBank?.id, 'view']">{{extendedUser.directPaymentBank?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.directPaymentCity">Direct Payment City</span></dt>
                <dd>
                    <div *ngIf="extendedUser.directPaymentCity">
                        <a [routerLink]="['/city', extendedUser.directPaymentCity?.id, 'view']">{{extendedUser.directPaymentCity?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.idTypeTaxId">Id Type Tax Id</span></dt>
                <dd>
                    <div *ngIf="extendedUser.idTypeTaxId">
                        <a [routerLink]="['/id-type', extendedUser.idTypeTaxId?.id, 'view']">{{extendedUser.idTypeTaxId?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUser.reseller">Reseller</span></dt>
                <dd>
                    <div *ngIf="extendedUser.reseller">
                        <a [routerLink]="['/extended-user', extendedUser.reseller?.id, 'view']">{{extendedUser.reseller?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/extended-user', extendedUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
