<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-extended-user-heading" jhiTranslate="pagoMundoApiApp.extendedUser.home.createOrEditLabel">Create or edit a Extended User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.lastName1" for="field_lastName1">Last Name 1</label>
                    <input type="text" class="form-control" name="lastName1" id="field_lastName1"
                           formControlName="lastName1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.lastName2" for="field_lastName2">Last Name 2</label>
                    <input type="text" class="form-control" name="lastName2" id="field_lastName2"
                           formControlName="lastName2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.firstName1" for="field_firstName1">First Name 1</label>
                    <input type="text" class="form-control" name="firstName1" id="field_firstName1"
                           formControlName="firstName1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.firstName2" for="field_firstName2">First Name 2</label>
                    <input type="text" class="form-control" name="firstName2" id="field_firstName2"
                           formControlName="firstName2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.fullName" for="field_fullName">Full Name</label>
                    <input type="text" class="form-control" name="fullName" id="field_fullName"
                           formControlName="fullName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.idNumber" for="field_idNumber">Id Number</label>
                    <input type="text" class="form-control" name="idNumber" id="field_idNumber"
                           formControlName="idNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.taxId" for="field_taxId">Tax Id</label>
                    <input type="text" class="form-control" name="taxId" id="field_taxId"
                           formControlName="taxId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{'pagoMundoApiApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'pagoMundoApiApp.Gender.FEMALE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.maritalStatus" for="field_maritalStatus">Marital Status</label>
                    <select class="form-control" name="maritalStatus" formControlName="maritalStatus" id="field_maritalStatus">
                        <option value="SINGLE">{{'pagoMundoApiApp.MaritalStatus.SINGLE' | translate}}</option>
                        <option value="MARRIED">{{'pagoMundoApiApp.MaritalStatus.MARRIED' | translate}}</option>
                        <option value="DIVORCED">{{'pagoMundoApiApp.MaritalStatus.DIVORCED' | translate}}</option>
                        <option value="FREE_UNION">{{'pagoMundoApiApp.MaritalStatus.FREE_UNION' | translate}}</option>
                        <option value="WIDOWER">{{'pagoMundoApiApp.MaritalStatus.WIDOWER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.residenceAddress" for="field_residenceAddress">Residence Address</label>
                    <input type="text" class="form-control" name="residenceAddress" id="field_residenceAddress"
                           formControlName="residenceAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.postalAddress" for="field_postalAddress">Postal Address</label>
                    <input type="text" class="form-control" name="postalAddress" id="field_postalAddress"
                           formControlName="postalAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.mobileNumber" for="field_mobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                           formControlName="mobileNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="d-flex">
                        <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" formControlName="birthDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.lastUpdated" for="field_lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input id="field_lastUpdated" type="datetime-local" class="form-control" name="lastUpdated" formControlName="lastUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.imageIdUrl" for="field_imageIdUrl">Image Id Url</label>
                    <input type="text" class="form-control" name="imageIdUrl" id="field_imageIdUrl"
                           formControlName="imageIdUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.imageAddressUrl" for="field_imageAddressUrl">Image Address Url</label>
                    <input type="text" class="form-control" name="imageAddressUrl" id="field_imageAddressUrl"
                           formControlName="imageAddressUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.balance" for="field_balance">Balance</label>
                    <input type="number" class="form-control" name="balance" id="field_balance"
                           formControlName="balance"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.statusReason" for="field_statusReason">Status Reason</label>
                    <textarea class="form-control" name="statusReason" id="field_statusReason"
                              formControlName="statusReason"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.role" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                           formControlName="role"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.cardNumber" for="field_cardNumber">Card Number</label>
                    <input type="text" class="form-control" name="cardNumber" id="field_cardNumber"
                           formControlName="cardNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.bankCommission" for="field_bankCommission">Bank Commission</label>
                    <input type="number" class="form-control" name="bankCommission" id="field_bankCommission"
                           formControlName="bankCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.fxCommission" for="field_fxCommission">Fx Commission</label>
                    <input type="number" class="form-control" name="fxCommission" id="field_fxCommission"
                           formControlName="fxCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.rechargeCost" for="field_rechargeCost">Recharge Cost</label>
                    <input type="number" class="form-control" name="rechargeCost" id="field_rechargeCost"
                           formControlName="rechargeCost"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.useMerchantCommission" for="field_useMerchantCommission">Use Merchant Commission</label>
                    <input type="checkbox" class="form-control" name="useMerchantCommission" id="field_useMerchantCommission"
                           formControlName="useMerchantCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.bankAccountNumber" for="field_bankAccountNumber">Bank Account Number</label>
                    <input type="text" class="form-control" name="bankAccountNumber" id="field_bankAccountNumber"
                           formControlName="bankAccountNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.useDirectPayment" for="field_useDirectPayment">Use Direct Payment</label>
                    <input type="checkbox" class="form-control" name="useDirectPayment" id="field_useDirectPayment"
                           formControlName="useDirectPayment"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.bankAccountType" for="field_bankAccountType">Bank Account Type</label>
                    <select class="form-control" name="bankAccountType" formControlName="bankAccountType" id="field_bankAccountType">
                        <option value="AHO">{{'pagoMundoApiApp.BankAccountType.AHO' | translate}}</option>
                        <option value="CTE">{{'pagoMundoApiApp.BankAccountType.CTE' | translate}}</option>
                        <option value="CRT">{{'pagoMundoApiApp.BankAccountType.CRT' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.canChangePaymentMethod" for="field_canChangePaymentMethod">Can Change Payment Method</label>
                    <input type="checkbox" class="form-control" name="canChangePaymentMethod" id="field_canChangePaymentMethod"
                           formControlName="canChangePaymentMethod"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.mustNotify" for="field_mustNotify">Must Notify</label>
                    <input type="checkbox" class="form-control" name="mustNotify" id="field_mustNotify"
                           formControlName="mustNotify"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.profileInfoChanged" for="field_profileInfoChanged">Profile Info Changed</label>
                    <textarea class="form-control" name="profileInfoChanged" id="field_profileInfoChanged"
                              formControlName="profileInfoChanged"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.confirmedProfile" for="field_confirmedProfile">Confirmed Profile</label>
                    <input type="checkbox" class="form-control" name="confirmedProfile" id="field_confirmedProfile"
                           formControlName="confirmedProfile"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.resellerFixedCommission" for="field_resellerFixedCommission">Reseller Fixed Commission</label>
                    <input type="number" class="form-control" name="resellerFixedCommission" id="field_resellerFixedCommission"
                           formControlName="resellerFixedCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.resellerPercentageCommission" for="field_resellerPercentageCommission">Reseller Percentage Commission</label>
                    <input type="number" class="form-control" name="resellerPercentageCommission" id="field_resellerPercentageCommission"
                           formControlName="resellerPercentageCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.useFlatCommission" for="field_useFlatCommission">Use Flat Commission</label>
                    <input type="checkbox" class="form-control" name="useFlatCommission" id="field_useFlatCommission"
                           formControlName="useFlatCommission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bankBranch"
                           jhiTranslate="pagoMundoApiApp.extendedUser.bankBranch">Bank Branch</label>
                    <input class="form-control" formControlName="bankBranch" id="field_bankBranch" name="bankBranch"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_alias"
                           jhiTranslate="pagoMundoApiApp.extendedUser.alias">Alias</label>
                    <input class="form-control" formControlName="alias" id="field_alias" name="alias"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.residenceCity" for="field_residenceCity">Residence City</label>
                    <select class="form-control" id="field_residenceCity" name="residenceCity" formControlName="residenceCity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === editForm.get('residenceCity').value?.id ? editForm.get('residenceCity').value : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.postalCity" for="field_postalCity">Postal City</label>
                    <select class="form-control" id="field_postalCity" name="postalCity" formControlName="postalCity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === editForm.get('postalCity').value?.id ? editForm.get('postalCity').value : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.idType" for="field_idType">Id Type</label>
                    <select class="form-control" id="field_idType" name="idType" formControlName="idType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="idTypeOption.id === editForm.get('idType').value?.id ? editForm.get('idType').value : idTypeOption" *ngFor="let idTypeOption of idtypes; trackBy: trackIdTypeById">{{idTypeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.extendedUserGroup" for="field_extendedUserGroup">Extended User Group</label>
                    <select class="form-control" id="field_extendedUserGroup" name="extendedUserGroup" formControlName="extendedUserGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserGroupOption.id === editForm.get('extendedUserGroup').value?.id ? editForm.get('extendedUserGroup').value : extendedUserGroupOption" *ngFor="let extendedUserGroupOption of extendedusergroups; trackBy: trackExtendedUserGroupById">{{extendedUserGroupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.bank" for="field_bank">Bank</label>
                    <select class="form-control" id="field_bank" name="bank" formControlName="bank">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankOption.id === editForm.get('bank').value?.id ? editForm.get('bank').value : bankOption" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.residenceCountry" for="field_residenceCountry">Residence Country</label>
                    <select class="form-control" id="field_residenceCountry" name="residenceCountry" formControlName="residenceCountry">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id === editForm.get('residenceCountry').value?.id ? editForm.get('residenceCountry').value : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.postalCountry" for="field_postalCountry">Postal Country</label>
                    <select class="form-control" id="field_postalCountry" name="postalCountry" formControlName="postalCountry">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id === editForm.get('postalCountry').value?.id ? editForm.get('postalCountry').value : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.directPaymentBank" for="field_directPaymentBank">Direct Payment Bank</label>
                    <select class="form-control" id="field_directPaymentBank" name="directPaymentBank" formControlName="directPaymentBank">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankOption.id === editForm.get('directPaymentBank').value?.id ? editForm.get('directPaymentBank').value : bankOption" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.directPaymentCity" for="field_directPaymentCity">Direct Payment City</label>
                    <select class="form-control" id="field_directPaymentCity" name="directPaymentCity" formControlName="directPaymentCity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === editForm.get('directPaymentCity').value?.id ? editForm.get('directPaymentCity').value : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.idTypeTaxId" for="field_idTypeTaxId">Id Type Tax Id</label>
                    <select class="form-control" id="field_idTypeTaxId" name="idTypeTaxId" formControlName="idTypeTaxId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="idTypeOption.id === editForm.get('idTypeTaxId').value?.id ? editForm.get('idTypeTaxId').value : idTypeOption" *ngFor="let idTypeOption of idtypes; trackBy: trackIdTypeById">{{idTypeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagoMundoApiApp.extendedUser.reseller" for="field_reseller">Reseller</label>
                    <select class="form-control" id="field_reseller" name="reseller" formControlName="reseller">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="extendedUserOption.id === editForm.get('reseller').value?.id ? editForm.get('reseller').value : extendedUserOption" *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById">{{extendedUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
