<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.extendedUser.home.title">Extended Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extended-user" [routerLink]="['/extended-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.extendedUser.home.createLabel">
            Create a new Extended User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.extendedUser.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="extendedUsers?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.extendedUser.home.notFound">No extendedUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="extendedUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.extendedUser.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastName1"><span jhiTranslate="pagoMundoApiApp.extendedUser.lastName1">Last Name 1</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastName2"><span jhiTranslate="pagoMundoApiApp.extendedUser.lastName2">Last Name 2</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="firstName1"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.firstName1">First Name 1</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="firstName2"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.firstName2">First Name 2</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fullName"><span jhiTranslate="pagoMundoApiApp.extendedUser.fullName">Full Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="idNumber"><span jhiTranslate="pagoMundoApiApp.extendedUser.idNumber">Id Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="taxId"><span jhiTranslate="pagoMundoApiApp.extendedUser.taxId">Tax Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="gender"><span jhiTranslate="pagoMundoApiApp.extendedUser.gender">Gender</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="maritalStatus"><span jhiTranslate="pagoMundoApiApp.extendedUser.maritalStatus">Marital Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="residenceAddress"><span jhiTranslate="pagoMundoApiApp.extendedUser.residenceAddress">Residence Address</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="postalAddress"><span jhiTranslate="pagoMundoApiApp.extendedUser.postalAddress">Postal Address</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="phoneNumber"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.phoneNumber">Phone Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mobileNumber"><span jhiTranslate="pagoMundoApiApp.extendedUser.mobileNumber">Mobile Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="birthDate"><span jhiTranslate="pagoMundoApiApp.extendedUser.birthDate">Birth Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastUpdated"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.lastUpdated">Last Updated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="email"><span jhiTranslate="pagoMundoApiApp.extendedUser.email">Email</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="company"><span jhiTranslate="pagoMundoApiApp.extendedUser.company">Company</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="imageIdUrl"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.imageIdUrl">Image Id Url</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="imageAddressUrl"><span jhiTranslate="pagoMundoApiApp.extendedUser.imageAddressUrl">Image Address Url</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="balance"><span jhiTranslate="pagoMundoApiApp.extendedUser.balance">Balance</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="statusReason"><span jhiTranslate="pagoMundoApiApp.extendedUser.statusReason">Status Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="role"><span jhiTranslate="pagoMundoApiApp.extendedUser.role">Role</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="cardNumber"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.cardNumber">Card Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankCommission"><span jhiTranslate="pagoMundoApiApp.extendedUser.bankCommission">Bank Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fxCommission"><span jhiTranslate="pagoMundoApiApp.extendedUser.fxCommission">Fx Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="rechargeCost"><span jhiTranslate="pagoMundoApiApp.extendedUser.rechargeCost">Recharge Cost</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="useMerchantCommission"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.useMerchantCommission">Use Merchant Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankAccountNumber"><span jhiTranslate="pagoMundoApiApp.extendedUser.bankAccountNumber">Bank Account Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="useDirectPayment"><span jhiTranslate="pagoMundoApiApp.extendedUser.useDirectPayment">Use Direct Payment</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankAccountType"><span jhiTranslate="pagoMundoApiApp.extendedUser.bankAccountType">Bank Account Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="canChangePaymentMethod"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.canChangePaymentMethod">Can Change Payment Method</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mustNotify"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.mustNotify">Must Notify</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="profileInfoChanged"><span jhiTranslate="pagoMundoApiApp.extendedUser.profileInfoChanged">Profile Info Changed</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="confirmedProfile"><span jhiTranslate="pagoMundoApiApp.extendedUser.confirmedProfile">Confirmed Profile</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="resellerFixedCommission"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.resellerFixedCommission">Reseller Fixed Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="resellerPercentageCommission"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.resellerPercentageCommission">Reseller Percentage Commission</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="useFlatCommission"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.useFlatCommission">Use Flat 
                    Commission</span> <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bankBranch"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.bankBranch">Bank Branch</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="alias"><span jhiTranslate="pagoMundoApiApp.extendedUser.alias">Alias</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th jhiSortBy="useFlatCommission">
                    <span jhiTranslate="pagoMundoApiApp.extendedUser.useFlatCommission">Use Flat Commission</span> 
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th jhiSortBy="user.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.user">User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="residenceCity.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.residenceCity">Residence City</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="postalCity.id"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.postalCity">Postal City</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="idType.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.idType">Id Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extendedUserGroup.id"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.extendedUserGroup">Extended User Group</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bank.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.bank">Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="residenceCountry.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.residenceCountry">Residence Country</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="postalCountry.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.postalCountry">Postal Country</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="directPaymentBank.id"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.directPaymentBank">Direct Payment Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="directPaymentCity.id"><span
                    jhiTranslate="pagoMundoApiApp.extendedUser.directPaymentCity">Direct Payment City</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="idTypeTaxId.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.idTypeTaxId">Id Type Tax Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="reseller.id"><span jhiTranslate="pagoMundoApiApp.extendedUser.reseller">Reseller</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extendedUser of extendedUsers ;trackBy: trackId">
                <td><a [routerLink]="['/extended-user', extendedUser.id, 'view' ]">{{extendedUser.id}}</a></td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUser.status}}">{{extendedUser.status}}</td>
                <td>{{extendedUser.lastName1}}</td>
                <td>{{extendedUser.lastName2}}</td>
                <td>{{extendedUser.firstName1}}</td>
                <td>{{extendedUser.firstName2}}</td>
                <td>{{extendedUser.fullName}}</td>
                <td>{{extendedUser.idNumber}}</td>
                <td>{{extendedUser.taxId}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Gender.' + extendedUser.gender}}">{{extendedUser.gender}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.MaritalStatus.' + extendedUser.maritalStatus}}">{{extendedUser.maritalStatus}}</td>
                <td>{{extendedUser.residenceAddress}}</td>
                <td>{{extendedUser.postalAddress}}</td>
                <td>{{extendedUser.phoneNumber}}</td>
                <td>{{extendedUser.mobileNumber}}</td>
                <td>{{extendedUser.birthDate | date:'medium'}}</td>
                <td>{{extendedUser.dateCreated | date:'medium'}}</td>
                <td>{{extendedUser.lastUpdated | date:'medium'}}</td>
                <td>{{extendedUser.email}}</td>
                <td>{{extendedUser.company}}</td>
                <td>{{extendedUser.imageIdUrl}}</td>
                <td>{{extendedUser.imageAddressUrl}}</td>
                <td>{{extendedUser.balance}}</td>
                <td>{{extendedUser.statusReason}}</td>
                <td>{{extendedUser.role}}</td>
                <td>{{extendedUser.cardNumber}}</td>
                <td>{{extendedUser.bankCommission}}</td>
                <td>{{extendedUser.fxCommission}}</td>
                <td>{{extendedUser.rechargeCost}}</td>
                <td>{{extendedUser.useMerchantCommission}}</td>
                <td>{{extendedUser.bankAccountNumber}}</td>
                <td>{{extendedUser.useDirectPayment}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.BankAccountType.' + extendedUser.bankAccountType}}">{{extendedUser.bankAccountType}}</td>
                <td>{{extendedUser.canChangePaymentMethod}}</td>
                <td>{{extendedUser.mustNotify}}</td>
                <td>{{extendedUser.profileInfoChanged}}</td>
                <td>{{extendedUser.confirmedProfile}}</td>
                <td>{{extendedUser.resellerFixedCommission}}</td>
                <td>{{extendedUser.resellerPercentageCommission}}</td>
                <td>{{extendedUser.useFlatCommission}}</td>
                <td>{{extendedUser.bankBranch}}</td>
                <td>{{extendedUser.alias}}</td>
                <td>
                    {{extendedUser.user?.id}}
                </td>
                <td>
                    <div *ngIf="extendedUser.residenceCity">
                        <a [routerLink]="['/city', extendedUser.residenceCity?.id, 'view' ]" >{{extendedUser.residenceCity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.postalCity">
                        <a [routerLink]="['/city', extendedUser.postalCity?.id, 'view' ]" >{{extendedUser.postalCity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.idType">
                        <a [routerLink]="['/id-type', extendedUser.idType?.id, 'view' ]" >{{extendedUser.idType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.extendedUserGroup">
                        <a [routerLink]="['/extended-user-group', extendedUser.extendedUserGroup?.id, 'view' ]" >{{extendedUser.extendedUserGroup?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.bank">
                        <a [routerLink]="['/bank', extendedUser.bank?.id, 'view' ]" >{{extendedUser.bank?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.residenceCountry">
                        <a [routerLink]="['/country', extendedUser.residenceCountry?.id, 'view' ]" >{{extendedUser.residenceCountry?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.postalCountry">
                        <a [routerLink]="['/country', extendedUser.postalCountry?.id, 'view' ]" >{{extendedUser.postalCountry?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.directPaymentBank">
                        <a [routerLink]="['/bank', extendedUser.directPaymentBank?.id, 'view' ]" >{{extendedUser.directPaymentBank?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.directPaymentCity">
                        <a [routerLink]="['/city', extendedUser.directPaymentCity?.id, 'view' ]" >{{extendedUser.directPaymentCity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.idTypeTaxId">
                        <a [routerLink]="['/id-type', extendedUser.idTypeTaxId?.id, 'view' ]" >{{extendedUser.idTypeTaxId?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUser.reseller">
                        <a [routerLink]="['/extended-user', extendedUser.reseller?.id, 'view' ]" >{{extendedUser.reseller?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/extended-user', extendedUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extended-user', extendedUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extended-user', { outlets: { popup: extendedUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="extendedUsers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
