<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-extended-user-funds-heading"
                jhiTranslate="pagoMundoApiApp.extendedUserFunds.home.createOrEditLabel">Create or edit a Extended User
                Funds</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="dateCreated" id="field_dateCreated"
                               name="dateCreated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_value"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.value">Value</label>
                    <input class="form-control" formControlName="value" id="field_value" name="value"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_balanceBefore"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.balanceBefore">Balance Before</label>
                    <input class="form-control" formControlName="balanceBefore" id="field_balanceBefore"
                           name="balanceBefore"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_balanceAfter"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.balanceAfter">Balance After</label>
                    <input class="form-control" formControlName="balanceAfter" id="field_balanceAfter"
                           name="balanceAfter"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reason"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.reason">Reason</label>
                    <input class="form-control" formControlName="reason" id="field_reason" name="reason"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.category">Category</label>
                    <select class="form-control" formControlName="category" id="field_category" name="category">
                        <option value="REQUESTED">{{'pagoMundoApiApp.FundCategory.REQUESTED' | translate}}</option>
                        <option value="AUTOMATIC">{{'pagoMundoApiApp.FundCategory.AUTOMATIC' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdated"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="lastUpdated" id="field_lastUpdated"
                               name="lastUpdated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.type">Type</label>
                    <select class="form-control" formControlName="type" id="field_type" name="type">
                        <option value="FUNDING">{{'pagoMundoApiApp.FundType.FUNDING' | translate}}</option>
                        <option value="WITHDRAWAL">{{'pagoMundoApiApp.FundType.WITHDRAWAL' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_extendedUser"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.extendedUser">Extended User</label>
                    <select class="form-control" formControlName="extendedUser" id="field_extendedUser"
                            name="extendedUser">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('extendedUser').value?.id ? editForm.get('extendedUser').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_user"
                           jhiTranslate="pagoMundoApiApp.extendedUserFunds.user">User</label>
                    <select class="form-control" formControlName="user" id="field_user" name="user">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let userOption of users; trackBy: trackUserById"
                                [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
