<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.extendedUserFunds.home.title">Extended User Funds</span>
        <button [routerLink]="['/extended-user-funds/new']"
                class="btn btn-primary float-right jh-create-entity create-extended-user-funds" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.extendedUserFunds.home.createLabel">
            Create a new Extended User Funds
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.extendedUserFunds.home.search' | translate }}" type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="extendedUserFunds?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pagoMundoApiApp.extendedUserFunds.home.notFound">No extendedUserFunds found</span>
    </div>
    <div *ngIf="extendedUserFunds?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="value"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.value">Value</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="balanceBefore"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.balanceBefore">Balance Before</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="balanceAfter"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.balanceAfter">Balance After</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="reason"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.reason">Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="category"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.category">Category</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lastUpdated"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.lastUpdated">Last Updated</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="type"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.type">Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extendedUser.id"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.extendedUser">Extended User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="user.login"><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.user">User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extendedUserFunds of extendedUserFunds ;trackBy: trackId">
                <td><a
                    [routerLink]="['/extended-user-funds', extendedUserFunds.id, 'view' ]">{{extendedUserFunds.id}}</a>
                </td>
                <td>{{extendedUserFunds.dateCreated | date:'medium'}}</td>
                <td>{{extendedUserFunds.value}}</td>
                <td>{{extendedUserFunds.balanceBefore}}</td>
                <td>{{extendedUserFunds.balanceAfter}}</td>
                <td>{{extendedUserFunds.reason}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserFunds.status}}">{{extendedUserFunds.status}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.FundCategory.' + extendedUserFunds.category}}">{{extendedUserFunds.category}}</td>
                <td>{{extendedUserFunds.lastUpdated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.FundType.' + extendedUserFunds.type}}">{{extendedUserFunds.type}}</td>
                <td>
                    <div *ngIf="extendedUserFunds.extendedUser">
                        <a [routerLink]="['/extended-user', extendedUserFunds.extendedUser?.id, 'view' ]">{{extendedUserFunds.extendedUser?.id}}</a>
                    </div>
                </td>
                <td>
                    {{extendedUserFunds.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/extended-user-funds', extendedUserFunds.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/extended-user-funds', extendedUserFunds.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/extended-user-funds', { outlets: { popup: extendedUserFunds.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="extendedUserFunds?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
