<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedUserFunds">
            <h2><span
                jhiTranslate="pagoMundoApiApp.extendedUserFunds.detail.title">Extended User Funds</span> {{extendedUserFunds.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{extendedUserFunds.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.value">Value</span></dt>
                <dd>
                    <span>{{extendedUserFunds.value}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.balanceBefore">Balance Before</span></dt>
                <dd>
                    <span>{{extendedUserFunds.balanceBefore}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.balanceAfter">Balance After</span></dt>
                <dd>
                    <span>{{extendedUserFunds.balanceAfter}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.reason">Reason</span></dt>
                <dd>
                    <span>{{extendedUserFunds.reason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserFunds.status}}">{{extendedUserFunds.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.category">Category</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.FundCategory.' + extendedUserFunds.category}}">{{extendedUserFunds.category}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{extendedUserFunds.lastUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.type">Type</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.FundType.' + extendedUserFunds.type}}">{{extendedUserFunds.type}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.extendedUser">Extended User</span></dt>
                <dd>
                    <div *ngIf="extendedUserFunds.extendedUser">
                        <a [routerLink]="['/extended-user', extendedUserFunds.extendedUser?.id, 'view']">{{extendedUserFunds.extendedUser?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserFunds.user">User</span></dt>
                <dd>
                    {{extendedUserFunds.user?.login}}
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/extended-user-funds', extendedUserFunds.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
