<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionStatusChange">
            <h2><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.detail.title">Transaction Status Change</span> {{transactionStatusChange.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{transactionStatusChange.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.Status.' + transactionStatusChange.status}}">{{transactionStatusChange.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.reason">Reason</span></dt>
                <dd>
                    <span>{{transactionStatusChange.reason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.transaction">Transaction</span></dt>
                <dd>
                    <div *ngIf="transactionStatusChange.transaction">
                        <a [routerLink]="['/transaction', transactionStatusChange.transaction?.id, 'view']">{{transactionStatusChange.transaction?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.user">User</span></dt>
                <dd>
                    <div *ngIf="transactionStatusChange.user">
                        <a [routerLink]="['/extended-user', transactionStatusChange.user?.id, 'view']">{{transactionStatusChange.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction-status-change', transactionStatusChange.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
