<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.transactionStatusChange.home.title">Transaction Status Changes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-status-change" [routerLink]="['/transaction-status-change/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.transactionStatusChange.home.createLabel">
            Create a new Transaction Status Change
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.transactionStatusChange.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="transactionStatusChanges?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.transactionStatusChange.home.notFound">No transactionStatusChanges found</span>
    </div>
    <div class="table-responsive" *ngIf="transactionStatusChanges?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reason"><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.reason">Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transaction.id"><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.transaction">Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="pagoMundoApiApp.transactionStatusChange.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionStatusChange of transactionStatusChanges ;trackBy: trackId">
                <td><a [routerLink]="['/transaction-status-change', transactionStatusChange.id, 'view' ]">{{transactionStatusChange.id}}</a></td>
                <td>{{transactionStatusChange.dateCreated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + transactionStatusChange.status}}">{{transactionStatusChange.status}}</td>
                <td>{{transactionStatusChange.reason}}</td>
                <td>
                    <div *ngIf="transactionStatusChange.transaction">
                        <a [routerLink]="['/transaction', transactionStatusChange.transaction?.id, 'view' ]" >{{transactionStatusChange.transaction?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transactionStatusChange.user">
                        <a [routerLink]="['/extended-user', transactionStatusChange.user?.id, 'view' ]" >{{transactionStatusChange.user?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction-status-change', transactionStatusChange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-status-change', transactionStatusChange.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-status-change', { outlets: { popup: transactionStatusChange.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactionStatusChanges?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
