<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">PagoMundoApi</span> <span class="navbar-version">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="country" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.country">Country</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bank" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.bank">Bank</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="branch" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.branch">Branch</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="currency" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.currency">Currency</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="city" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.city">City</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="id-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.idType">Id Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="extended-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="transaction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transaction">Transaction</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="transaction-status-change" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transactionStatusChange">Transaction Status Change</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notification">Notification</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="notification-status-change" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationStatusChange">Notification Status Change</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bank-account" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.bankAccount">Bank Account</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="extended-user-relation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserRelation">Extended User Relation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="transaction-group" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transactionGroup">Transaction Group</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-group" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserGroup">Extended User Group</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-status-change" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserStatusChange">Extended User Status Change</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-group" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserGroup">Extended User Group</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-funds" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserFunds">Extended User Funds</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="integration-audit" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.integrationAudit">Integration Audit</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="integration-audit-extra-response" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.integrationAuditExtraResponse">Integration Audit Extra Response</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="branch" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.branch">Branch</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="country" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.country">Country</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="direct-payment-bank" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.directPaymentBank">Direct Payment Bank</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="direct-payment-bank" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.directPaymentBank">Direct Payment Bank</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="direct-payment-bank" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.directPaymentBank">Direct Payment Bank</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="country" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.country">Country</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="country" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.country">Country</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="direct-payment-bank" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.directPaymentBank">Direct Payment Bank</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-funds" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserFunds">Extended User Funds</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-funds" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserFunds">Extended User Funds</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-relation" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserRelation">Extended User Relation</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="transaction" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transaction">Transaction</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-funds" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserFunds">Extended User Funds</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notification">Notification</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification-receiver" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notificationReceiver">Notification Receiver</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="notification" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.notification">Notification</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="transaction" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transaction">Transaction</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="integration-audit" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.integrationAudit">Integration Audit</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="integration-audit" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.integrationAudit">Integration Audit</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user-relation" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUserRelation">Extended User Relation</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="transaction" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transaction">Transaction</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="extended-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="flat-commission" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.flatCommission">Flat Commission</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="extended-user" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extendedUser">Extended User</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <fa-icon icon="hdd" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
