<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notificationStatusChange">
            <h2><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.detail.title">Notification Status Change</span> {{notificationStatusChange.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{notificationStatusChange.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagoMundoApiApp.Status.' + notificationStatusChange.status}}">{{notificationStatusChange.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.reason">Reason</span></dt>
                <dd>
                    <span>{{notificationStatusChange.reason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.notification">Notification</span></dt>
                <dd>
                    <div *ngIf="notificationStatusChange.notification">
                        <a [routerLink]="['/notification', notificationStatusChange.notification?.id, 'view']">{{notificationStatusChange.notification?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.user">User</span></dt>
                <dd>
                    <div *ngIf="notificationStatusChange.user">
                        <a [routerLink]="['/extended-user', notificationStatusChange.user?.id, 'view']">{{notificationStatusChange.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification-status-change', notificationStatusChange.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
