<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.notificationStatusChange.home.title">Notification Status Changes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification-status-change" [routerLink]="['/notification-status-change/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.notificationStatusChange.home.createLabel">
            Create a new Notification Status Change
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.notificationStatusChange.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="notificationStatusChanges?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.notificationStatusChange.home.notFound">No notificationStatusChanges found</span>
    </div>
    <div class="table-responsive" *ngIf="notificationStatusChanges?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reason"><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.reason">Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="notification.id"><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.notification">Notification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="pagoMundoApiApp.notificationStatusChange.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notificationStatusChange of notificationStatusChanges ;trackBy: trackId">
                <td><a [routerLink]="['/notification-status-change', notificationStatusChange.id, 'view' ]">{{notificationStatusChange.id}}</a></td>
                <td>{{notificationStatusChange.dateCreated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + notificationStatusChange.status}}">{{notificationStatusChange.status}}</td>
                <td>{{notificationStatusChange.reason}}</td>
                <td>
                    <div *ngIf="notificationStatusChange.notification">
                        <a [routerLink]="['/notification', notificationStatusChange.notification?.id, 'view' ]" >{{notificationStatusChange.notification?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="notificationStatusChange.user">
                        <a [routerLink]="['/extended-user', notificationStatusChange.user?.id, 'view' ]" >{{notificationStatusChange.user?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/notification-status-change', notificationStatusChange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notification-status-change', notificationStatusChange.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notification-status-change', { outlets: { popup: notificationStatusChange.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="notificationStatusChanges?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
