<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title(${applicationTitle})}">Se requiere la activaci\u00f3n de la cuenta de PMI Americas</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.activation.greeting(${user.firstName})}">
    Buen d\u00eda <strong>user.firstName</strong>
</div>
<br/>
<div th:text="#{email.activation.text1(${applicationTitle})}">
    Te queremos dar la bienvenida al sistema PMI Americas donde esperamos darte un excelente servicio y atenci\u00f3n.
</div>
<br/>
<div th:text="#{email.activation.text2(${webPage})}">
    A continuaci\u00f3n te hacemos llegar un link de acceso para poder consultar tu historial de pagos y recargas, a
    trav\u00e9s de la p\u00e1gina <a th:href="${baseUrl}" th:text="${baseUrl}"><strong>PMI Americas</strong></a>
</div>
<br/>
<div>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})">
        <strong>Activation link</strong>
    </a>
</div>
<br/>
<div th:text="#{email.activation.text4}">
    Al ingresar a la p\u00e1gina web, vas necesitar la siguiente informaci\u00f3n:
</div>
<div th:text="#{email.activation.text5(${user.login})}">
    Tu nombre de usuario: <strong>user.login</strong>
</div>
<br/>
<div th:text="#{email.activation.text6}">
    Una vez que ingreses tu contrase\u00f1a, deber\u00e1s completar la informaci\u00f3n requerida para poder habilitar
    tu usuario.
</div>
<br/>
<div th:text="#{email.activation.text10(${applicationTitle}, ${supportEmailAddress})}">
    Esperamos que tu experiencia con el servicio de PMI Americas sea de tu satisfacci\u00f3n. Cualquier pregunta o duda,
    estamos aqu\u00ed para servirte en lo posible, solo m\u00e1ndanos un correo electr\u00f3nico a
    support@pmi-americas.com y alguien de nuestro equipo se pondr\u00e1 en contacto contigo lo antes posible.
</div>

<br/>
<div>
    <span th:text="#{email.activation.finalGreeting(${applicationTitle})}">Desde todos en PMI Americas, te damos la bienvenida y las gracias por escogernos.</span>
    <br/>
    <br/>
    <em th:text="${applicationTitle}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
