<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title(${applicationTitle})}">PMI Americas account activation is requiredd</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.activation.greeting(${user.firstName})}">
    Dear <strong>user.firstName</strong>
</div>
<br/>
<div th:text="#{email.activation.text1(${applicationTitle})}">
    Your PMI Americas account has been created, please click on the URL below to activate it:
</div>
<br/>
<div>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})"><strong>Activation link</strong></a>
</div>
<br/>
<div th:text="#{email.activation.text4}">
    Once you enter the website, you will need the following information:
</div>
<div th:text="#{email.activation.text5(${user.login})}">
    Username: <strong>user.login</strong>
</div>
<br/>
<div th:text="#{email.activation.text6}">
    Once you enter your password, you must complete the information required to enable your account.
</div>
<br/>
<div th:text="#{email.activation.text10(${applicationTitle}, ${supportEmailAddress})}">
    We hope that your experience with the PMI Americas service is to your satisfaction. Any questions or concerns, we
    are here to serve you as much as possible, just email us to support@pmi-americas.com and someone from our team will
    contact you as soon as possible.
</div>
<br/>
<div>
    <span th:text="#{email.activation.finalGreeting(${applicationTitle})}">From everyone at PMI Americas, we welcome and thank you for choosing us.</span>
    <br/>
    <br/>
    <em th:text="${applicationTitle}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
