<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">JHipster creation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.creation.text1(${applicationTitle})}">
    Your JHipster account has been created, please click on the URL below to access it:
</p>
<p>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})">Login link</a>
</p>
<br/>
<div>
    <span th:text="#{email.activation.finalGreeting(${applicationTitle})}">Desde todos en PMI Americas, te damos la bienvenida y las gracias por escogernos.</span>
    <br/>
    <br/>
    <em th:text="${applicationTitle}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3}" th:text="#{email.signature3}" th:with="url=(#{email.signature3})">www.pmi-americas.com</a>
</div>
</body>
</html>
