<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.extendedUser.created.title}">There are some new users to be processed</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.extendedUser.created.greeting(${user.firstName})}">
    Dear user,
</div>
<br/>
<div th:text="#{email.extendedUser.created.title}">
    There are some new users to be processed.
</div>
<br/>
<div>
    <span th:text="#{email.extendedUser.created.finalGreeting}">Sincerely,</span>
    <br/>
    <br/>
    <em th:text="${applicationTitle}">PMI Americas</em>
    <br/>
    <em th:text="#{email.extendedUser.created.signature}">Account Manager</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
