<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.new.account.title}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.reset.new.account.greeting(${user.firstName})}">
</p>
<p th:text="#{email.reset.new.account.text1}">
</p>
<p th:text="#{email.reset.new.account.text2}">
</p>
<p>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})">Login link</a>
</p>
<br/>
<div th:text="#{email.reset.new.account.text3}">
</div>
<div th:text="#{email.reset.new.account.text4(${supportEmailAddress})}">
</div>
<br/>

<div>
    <span th:text="#{email.activation.finalGreeting}"></span>
    <br/>
    <br/>
    <em th:text="#{email.signature1}"></em>
    <br/>
    <em th:text="#{email.signature2}"></em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})"></a>
</div>
</body>
</html>
