<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title(${applicationTitle})}">Reestablecer contrase\u00f1a PMI Americas</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.reset.greeting(${user.firstName})}">
    Buen d\u00eda <strong>user.firstName</strong>
</p>
<p th:text="#{email.reset.text1(${applicationTitle})}">
    Se ha requerido reestablecer la contrase\u00f1a de su cuenta PMI Americas, por favor haga click en el siguiente link
    para reestablecerla:
</p>
<p>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})">Login link</a>
</p>
<br/>
<div th:text="#{email.reset.text2}">
    Si usted no lo ha solicitado, por favor descarte este mail.
</div>
<div th:text="#{email.reset.text3(${supportEmailAddress})}">
    Si tiene alguna consulta o sugerencia, por favor no dude en contactarse con nosotros a trav\u00e9s de nuestro email:
    supportEmailAddress.
</div>
<br/>

<div>
    <span th:text="#{email.activation.finalGreeting(${finalGreeting})}">Desde todos en PMI Americas, te damos la bienvenida y las gracias por escogernos.</span>
    <br/>
    <br/>
    <em th:text="${applicationTitle}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
