<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.payment.rejected.title}">Your payment has been rejected</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.payment.rejected.greeting(${user.firstName})}">
    Estimado(a) usuario(a),
</div>
<div th:text="#{email.payment.rejected.text1}">
    We want to inform you that one of your recent payments has been rejected.
</div>
<br/>

<div th:text="#{email.payment.rejected.payee(${transaction.getPayee().getFullName()})}">
    Payee Name: Jane Doe Santana Martinez.
</div>
<div th:text="#{email.payment.rejected.statusReason(${transaction.statusReason})}">
    Payment Reject Reason: Bank account does not match name or ID. Payee's Bank rejected payment.
</div>
<br/>

<div th:text="#{email.payment.rejected.text4}">
    Please log into your PMI Americas account for more details.
</div>
<br/>
<div th:text="#{email.payment.rejected.text2}">
    If you would like more information on this issue, please contact our support team.
</div>
<br/>
<div th:text="#{email.payment.rejected.text3}">
    support@pmi-americas.com
</div>
<br/>
<div>
    <span th:text="#{email.payment.rejected.finalGreeting}">Sincerely,</span>
    <br/>
    <br/>
    <em th:text="#{email.signature1}">PMI Americas</em>
    <br/>
    <em th:text="#{email.payment.rejected.signature}">Account Manager</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
