<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.payment.completed.title}">Your payment has been rejected</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.payment.completed.greeting(${user.firstName})}">
    Dear user,
</div>
<br/>
<div th:text="#{email.payment.completed.text1}">
    We want to inform you that one of your recent payments has been completed. Please log into your PMI Americas account
    for more details.
</div>
<br/>
<div th:text="#{email.payment.completed.text2}">
    If you would like more information on this issue, please contact our support team.
</div>
<br/>
<br/>
<div>
    <span th:text="#{email.payment.completed.finalGreeting}">Sincerely,</span>
    <br/>
    <br/>
    <em th:text="#{email.signature1(${applicationTitle})}">PMI Americas</em>
    <br/>
    <em th:text="#{email.payment.completed.signature}">Account Manager</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
