<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.user.rejected.title}">Your user account has been rejected</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.user.rejected.greeting(${user.firstName})}">
    Estimado(a) usuario(a),
</div>
<br/>
<div th:text="#{email.user.rejected.text1}">
    Nos da gusto confirmarte que tu registro de usuario ha sido aprobado.
</div>
<br/>
<div th:text="#{email.user.rejected.text2}">
    Para más información y detalle de esta falla, por favor comunícate con nuestro equipo de soporte.
</div>
<br/>
<div th:text="#{email.user.rejected.text3}">
    Podrás encontrar el contacto en http://pmi-americas.com/contact
</div>
<br/>
<div>
    <span th:text="#{email.user.rejected.finalGreeting}">Cordial saludo,</span>
    <br/>
    <br/>
    <em th:text="#{email.signature1}">${applicationTitle}</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
