<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.user.approved.title(${applicationTitle})}">Su cuenta de usuario PMI Americas ha sido aprobada</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.user.approved.greeting(${user.firstName})}">
    Estimado(a) usuario(a),
</div>
<br/>
<div th:text="#{email.user.approved.text1}">
    Nos da gusto confirmarte que tu registro de usuario ha sido aprobado.
</div>
<br/>
<div th:text="#{email.user.approved.text2(${applicationTitle})}">
    Desde este momento tendrás acceso a la plataforma de pagos PMI Americas.
</div>
<br/>
<div>
    <span th:text="#{email.user.approved.finalGreeting}">Cordial saludo,</span>
    <br/>
    <br/>
    <em th:text="#{email.signature1(${applicationTitle})}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
