<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.user.change.title}">Cambio de email de usuario PMI Americas</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.user.change.greeting(${user.firstName})}">
    Buen d\u00eda <strong>user.firstName</strong>
</p>
<p th:text="#{email.user.change.text1(${user.newEmail})}">
    Se ha requerido el cambio de email de su cuenta PMI Americas por <strong>user.newEmail</strong>, por favor
    haga click en el siguiente link para confirmar el cambio:
</p>
<p>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/account/change-email-confirmation?key=${user.activationKey}|})">Email confirmation
        link</a>
</p>
<br/>
<div th:text="#{email.user.change.text2}">
    Si usted no lo ha solicitado, por favor descarte este mail.
</div>
<br/>
<div th:text="#{email.user.change.text3(${supportEmailAddress})}">
    Si tiene alguna consulta o sugerencia, por favor no dude en contactarse con nosotros a trav\u00e9s de nuestro email
    support@pmi-americas.com.
</div>
<br/>
<div>
    <br/>
    <em th:text="#{email.signature1}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
