<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.user.change.confirmation.title}">El email del usuario de PMI Americas ha sido cambiado
        satisfactoriamente</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.user.change.confirmation.greeting(${user.firstName})}">
    Buen d\u00eda <strong>user.firstName</strong>
</p>
<p th:text="#{email.user.change.confirmation.text1}">
    El email de su cuenta PMI Americas ha sido cambiado satisfactoriamente.
</p>
<div th:text="#{email.user.change.confirmation.text3(${supportEmailAddress})}">
    Si tiene alguna consulta o sugerencia, por favor no dude en contactarse con nosotros a trav\u00e9s de nuestro email:
    support@pmi-americas.com.
</div>
<br/>

<div>
    <br/>
    <em th:text="#{email.signature1}">PMI Americas</em>
    <br/>
    <em th:text="#{email.signature2}">Support Team</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
