<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.profile.changed.title}">Your payment method has been changed</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.profile.changed.greeting(${user.firstName})}">
    Estimado(a) usuario(a),
</div>
<br/>
<div th:text="#{email.profile.changed.text1}">
    Queremos informarte que tu cuenta de usuario ha registrado un cambio de método de pago.
</div>
<br/>
<div th:text="#{email.profile.changed.text2}">
    Si esta información no es correcta o para más información y detalle de este cambio, por favor comunícate con nuestro
    equipo de soporte.
</div>
<br/>
<div th:text="#{email.profile.changed.text3}">
    Podrás encontrar el contacto en http://pmi-americas.com/contact
</div>
<br/>
<div>
    <span th:text="#{email.profile.changed.finalGreeting}">Cordial saludo,</span>
    <br/>
    <br/>
    <em th:text="#{email.signature1}">PMI Americas</em>
    <br/>
    <em th:text="#{email.profile.changed.signature}">Departamento Gerencia</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
