<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.user.cancelled.title}">Your user account has been deleted</title>
    <meta content="text/plain; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div th:text="#{email.user.cancelled.greeting(${user.firstName})}">
    Estimado(a) usuario(a),
</div>
<br/>
<div th:text="#{email.user.cancelled.text1}">
    Queremos informarte que tu registro de usuario ha sido cancelado
</div>
<br/>
<div th:text="#{email.user.cancelled.text2}">
    Para más información y detalle, por favor comunícate con nuestro equipo de soporte.
</div>
<br/>
<div th:text="#{email.user.cancelled.text3}">
    Podrás encontrar el contacto en http://pmi-americas.com/contact
</div>
<br/>
<div>
    <span th:text="#{email.user.cancelled.payee.finalGreeting}">Cordial saludo,</span>
    <br/>
    <br/>
    <em th:text="#{email.signature1}">PMI Americas</em>
    <br/>
    <em th:text="#{email.user.cancelled.payee.signature}">Departamento Gerencia</em>
    <br/>
    <a th:href="#{email.signature3(${webPage})}" th:text="#{email.signature3(${webPage})}"
       th:with="url=(#{email.signature3(${webPage})})">www.PMI-americas.com</a>
</div>
</body>
</html>
