<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="city">
            <h2><span jhiTranslate="pagoMundoApiApp.city.detail.title">City</span> {{city.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.city.name">Name</span></dt>
                <dd>
                    <span>{{city.name}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.city.code">Code</span></dt>
                <dd>
                    <span>{{city.code}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.city.country">Country</span></dt>
                <dd>
                    <div *ngIf="city.country">
                        <a [routerLink]="['/country', city.country?.id, 'view']">{{city.country?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city', city.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
