<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="integrationAudit">
            <h2><span
                jhiTranslate="pagoMundoApiApp.integrationAudit.detail.title">Integration Audit</span> {{integrationAudit.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.requestDate">Request Date</span></dt>
                <dd>
                    <span>{{integrationAudit.requestDate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.requestMessage">Request Message</span></dt>
                <dd>
                    <span>{{integrationAudit.requestMessage}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.requestEndpoint">Request Endpoint</span></dt>
                <dd>
                    <span>{{integrationAudit.requestEndpoint}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.responseDate">Response Date</span></dt>
                <dd>
                    <span>{{integrationAudit.responseDate}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.responseMessage">Response Message</span></dt>
                <dd>
                    <span>{{integrationAudit.responseMessage}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.entityId">Entity Id</span></dt>
                <dd>
                    <span>{{integrationAudit.entityId}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.entity">Entity</span></dt>
                <dd>
                    <span>{{integrationAudit.entity}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.providerId">Provider Id</span></dt>
                <dd>
                    <span>{{integrationAudit.providerId}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.provider">Provider</span></dt>
                <dd>
                    <span>{{integrationAudit.provider}}</span>
                </dd>
                <dt><span
                    jhiTranslate="pagoMundoApiApp.integrationAudit.extraResponseEndpoint">Extra Response Endpoint</span>
                </dt>
                <dd>
                    <span>{{integrationAudit.extraResponseEndpoint}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + integrationAudit.status}}">{{integrationAudit.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{integrationAudit.statusReason}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.retries">Retries</span></dt>
                <dd>
                    <span>{{integrationAudit.retries}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.integrationAudit.maxRetries">Max Retries</span></dt>
                <dd>
                    <span>{{integrationAudit.maxRetries}}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/integration-audit', integrationAudit.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
