<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.integrationAudit.home.title">Integration Audits</span>
        <button [routerLink]="['/integration-audit/new']"
                class="btn btn-primary float-right jh-create-entity create-integration-audit" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.integrationAudit.home.createLabel">
            Create a new Integration Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.integrationAudit.home.search' | translate }}" type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="integrationAudits?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pagoMundoApiApp.integrationAudit.home.notFound">No integrationAudits found</span>
    </div>
    <div *ngIf="integrationAudits?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="requestDate"><span jhiTranslate="pagoMundoApiApp.integrationAudit.requestDate">Request Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="requestMessage"><span jhiTranslate="pagoMundoApiApp.integrationAudit.requestMessage">Request Message</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="requestEndpoint"><span jhiTranslate="pagoMundoApiApp.integrationAudit.requestEndpoint">Request Endpoint</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="responseDate"><span jhiTranslate="pagoMundoApiApp.integrationAudit.responseDate">Response Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="responseMessage"><span jhiTranslate="pagoMundoApiApp.integrationAudit.responseMessage">Response Message</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="entityId"><span jhiTranslate="pagoMundoApiApp.integrationAudit.entityId">Entity Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="entity"><span jhiTranslate="pagoMundoApiApp.integrationAudit.entity">Entity</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="providerId"><span
                    jhiTranslate="pagoMundoApiApp.integrationAudit.providerId">Provider Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="provider"><span jhiTranslate="pagoMundoApiApp.integrationAudit.provider">Provider</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="extraResponseEndpoint"><span
                    jhiTranslate="pagoMundoApiApp.integrationAudit.extraResponseEndpoint">Extra Response Endpoint</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.integrationAudit.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="statusReason"><span jhiTranslate="pagoMundoApiApp.integrationAudit.statusReason">Status Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="retries"><span jhiTranslate="pagoMundoApiApp.integrationAudit.retries">Retries</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="maxRetries"><span
                    jhiTranslate="pagoMundoApiApp.integrationAudit.maxRetries">Max Retries</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let integrationAudit of integrationAudits ;trackBy: trackId">
                <td><a [routerLink]="['/integration-audit', integrationAudit.id, 'view' ]">{{integrationAudit.id}}</a>
                </td>
                <td>{{integrationAudit.requestDate | date:'medium'}}</td>
                <td>{{integrationAudit.requestMessage}}</td>
                <td>{{integrationAudit.requestEndpoint}}</td>
                <td>{{integrationAudit.responseDate | date:'medium'}}</td>
                <td>{{integrationAudit.responseMessage}}</td>
                <td>{{integrationAudit.entityId}}</td>
                <td>{{integrationAudit.entity}}</td>
                <td>{{integrationAudit.providerId}}</td>
                <td>{{integrationAudit.provider}}</td>
                <td>{{integrationAudit.extraResponseEndpoint}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + integrationAudit.status}}">{{integrationAudit.status}}</td>
                <td>{{integrationAudit.statusReason}}</td>
                <td>{{integrationAudit.retries}}</td>
                <td>{{integrationAudit.maxRetries}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/integration-audit', integrationAudit.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/integration-audit', integrationAudit.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/integration-audit', { outlets: { popup: integrationAudit.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="integrationAudits?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
