<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-integration-audit-heading"
                jhiTranslate="pagoMundoApiApp.integrationAudit.home.createOrEditLabel">Create or edit a Integration
                Audit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestDate"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.requestDate">Request Date</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="requestDate" id="field_requestDate"
                               name="requestDate" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestMessage"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.requestMessage">Request Message</label>
                    <textarea class="form-control" formControlName="requestMessage" id="field_requestMessage"
                              name="requestMessage"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestEndpoint"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.requestEndpoint">Request Endpoint</label>
                    <input class="form-control" formControlName="requestEndpoint" id="field_requestEndpoint"
                           name="requestEndpoint"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseDate"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.responseDate">Response Date</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="responseDate" id="field_responseDate"
                               name="responseDate" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseMessage"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.responseMessage">Response Message</label>
                    <textarea class="form-control" formControlName="responseMessage" id="field_responseMessage"
                              name="responseMessage"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entityId"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.entityId">Entity Id</label>
                    <input class="form-control" formControlName="entityId" id="field_entityId" name="entityId"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entity"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.entity">Entity</label>
                    <input class="form-control" formControlName="entity" id="field_entity" name="entity"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_providerId"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.providerId">Provider Id</label>
                    <input class="form-control" formControlName="providerId" id="field_providerId" name="providerId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_provider"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.provider">Provider</label>
                    <input class="form-control" formControlName="provider" id="field_provider" name="provider"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_extraResponseEndpoint"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.extraResponseEndpoint">Extra Response
                        Endpoint</label>
                    <input class="form-control" formControlName="extraResponseEndpoint" id="field_extraResponseEndpoint"
                           name="extraResponseEndpoint"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                        <option value="FAILED">{{'pagoMundoApiApp.Status.FAILED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statusReason"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.statusReason">Status Reason</label>
                    <textarea class="form-control" formControlName="statusReason" id="field_statusReason"
                              name="statusReason"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_retries"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.retries">Retries</label>
                    <input class="form-control" formControlName="retries" id="field_retries" name="retries"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxRetries"
                           jhiTranslate="pagoMundoApiApp.integrationAudit.maxRetries">Max Retries</label>
                    <input class="form-control" formControlName="maxRetries" id="field_maxRetries" name="maxRetries"
                           type="number"/>
                </div>

            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
