<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-extended-user-group-heading"
                jhiTranslate="pagoMundoApiApp.extendedUserGroup.home.createOrEditLabel">Create or edit a Extended User
                Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated"
                           jhiTranslate="pagoMundoApiApp.extendedUserGroup.dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input class="form-control" formControlName="dateCreated" id="field_dateCreated"
                               name="dateCreated" placeholder="YYYY-MM-DD HH:mm" type="datetime-local"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="pagoMundoApiApp.extendedUserGroup.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="CREATED">{{'pagoMundoApiApp.Status.CREATED' | translate}}</option>
                        <option value="IN_PROCESS">{{'pagoMundoApiApp.Status.IN_PROCESS' | translate}}</option>
                        <option value="ACCEPTED">{{'pagoMundoApiApp.Status.ACCEPTED' | translate}}</option>
                        <option value="REJECTED">{{'pagoMundoApiApp.Status.REJECTED' | translate}}</option>
                        <option value="CANCELLED">{{'pagoMundoApiApp.Status.CANCELLED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fileName"
                           jhiTranslate="pagoMundoApiApp.extendedUserGroup.fileName">File Name</label>
                    <input class="form-control" formControlName="fileName" id="field_fileName" name="fileName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fileNameFromBank"
                           jhiTranslate="pagoMundoApiApp.extendedUserGroup.fileNameFromBank">File Name From Bank</label>
                    <input class="form-control" formControlName="fileNameFromBank" id="field_fileNameFromBank"
                           name="fileNameFromBank"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_admin"
                           jhiTranslate="pagoMundoApiApp.extendedUserGroup.admin">Admin</label>
                    <select class="form-control" formControlName="admin" id="field_admin" name="admin">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let extendedUserOption of extendedusers; trackBy: trackExtendedUserById"
                                [ngValue]="extendedUserOption.id === editForm.get('admin').value?.id ? editForm.get('admin').value : extendedUserOption">{{extendedUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bank"
                           jhiTranslate="pagoMundoApiApp.extendedUserGroup.bank">Bank</label>
                    <select class="form-control" formControlName="bank" id="field_bank" name="bank">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let bankOption of banks; trackBy: trackBankById"
                                [ngValue]="bankOption.id === editForm.get('bank').value?.id ? editForm.get('bank').value : bankOption">{{bankOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
