<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedUserGroup">
            <h2><span
                jhiTranslate="pagoMundoApiApp.extendedUserGroup.detail.title">Extended User Group</span> {{extendedUserGroup.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{extendedUserGroup.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.status">Status</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserGroup.status}}">{{extendedUserGroup.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.fileName">File Name</span></dt>
                <dd>
                    <span>{{extendedUserGroup.fileName}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.fileNameFromBank">File Name From Bank</span>
                </dt>
                <dd>
                    <span>{{extendedUserGroup.fileNameFromBank}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.admin">Admin</span></dt>
                <dd>
                    <div *ngIf="extendedUserGroup.admin">
                        <a [routerLink]="['/extended-user', extendedUserGroup.admin?.id, 'view']">{{extendedUserGroup.admin?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.bank">Bank</span></dt>
                <dd>
                    <div *ngIf="extendedUserGroup.bank">
                        <a [routerLink]="['/bank', extendedUserGroup.bank?.id, 'view']">{{extendedUserGroup.bank?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/extended-user-group', extendedUserGroup.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
