<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.extendedUserGroup.home.title">Extended User Groups</span>
        <button [routerLink]="['/extended-user-group/new']"
                class="btn btn-primary float-right jh-create-entity create-extended-user-group" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="pagoMundoApiApp.extendedUserGroup.home.createLabel">
            Create a new Extended User Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" name="searchForm">
                <div class="input-group w-100 mt-3">
                    <input [(ngModel)]="currentSearch" class="form-control" id="currentSearch" name="currentSearch"
                           placeholder="{{ 'pagoMundoApiApp.extendedUserGroup.home.search' | translate }}" type="text">
                    <button (click)="search(currentSearch)" class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button (click)="clear()" *ngIf="currentSearch" class="input-group-append btn btn-danger">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="extendedUserGroups?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pagoMundoApiApp.extendedUserGroup.home.notFound">No extendedUserGroups found</span>
    </div>
    <div *ngIf="extendedUserGroups?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.dateCreated">Date Created</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fileName"><span
                    jhiTranslate="pagoMundoApiApp.extendedUserGroup.fileName">File Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fileNameFromBank"><span
                    jhiTranslate="pagoMundoApiApp.extendedUserGroup.fileNameFromBank">File Name From Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="admin.id"><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.admin">Admin</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="bank.id"><span jhiTranslate="pagoMundoApiApp.extendedUserGroup.bank">Bank</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extendedUserGroup of extendedUserGroups ;trackBy: trackId">
                <td><a
                    [routerLink]="['/extended-user-group', extendedUserGroup.id, 'view' ]">{{extendedUserGroup.id}}</a>
                </td>
                <td>{{extendedUserGroup.dateCreated | date:'medium'}}</td>
                <td jhiTranslate="{{'pagoMundoApiApp.Status.' + extendedUserGroup.status}}">{{extendedUserGroup.status}}</td>
                <td>{{extendedUserGroup.fileName}}</td>
                <td>{{extendedUserGroup.fileNameFromBank}}</td>
                <td>
                    <div *ngIf="extendedUserGroup.admin">
                        <a [routerLink]="['/extended-user', extendedUserGroup.admin?.id, 'view' ]">{{extendedUserGroup.admin?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extendedUserGroup.bank">
                        <a [routerLink]="['/bank', extendedUserGroup.bank?.id, 'view' ]">{{extendedUserGroup.bank?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/extended-user-group', extendedUserGroup.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/extended-user-group', extendedUserGroup.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/extended-user-group', { outlets: { popup: extendedUserGroup.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="extendedUserGroups?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
