<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flatCommission">
            <h2><span jhiTranslate="pagoMundoApiApp.flatCommission.detail.title">Flat Commission</span> {{flatCommission.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagoMundoApiApp.flatCommission.upTo">Up To</span></dt>
                <dd>
                    <span>{{flatCommission.upTo}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.flatCommission.commission">Commission</span></dt>
                <dd>
                    <span>{{flatCommission.commission}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.flatCommission.description">Description</span></dt>
                <dd>
                    <span>{{flatCommission.description}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.flatCommission.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{flatCommission.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.flatCommission.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{flatCommission.lastUpdated}}</span>
                </dd>
                <dt><span jhiTranslate="pagoMundoApiApp.flatCommission.extendedUser">Extended User</span></dt>
                <dd>
                    <div *ngIf="flatCommission.extendedUser">
                        <a [routerLink]="['/extended-user', flatCommission.extendedUser?.id, 'view']">{{flatCommission.extendedUser?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flat-commission', flatCommission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
