<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagoMundoApiApp.flatCommission.home.title">Flat Commissions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flat-commission" [routerLink]="['/flat-commission/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pagoMundoApiApp.flatCommission.home.createLabel">
            Create a new Flat Commission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pagoMundoApiApp.flatCommission.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="flatCommissions?.length === 0">
        <span jhiTranslate="pagoMundoApiApp.flatCommission.home.notFound">No flatCommissions found</span>
    </div>
    <div class="table-responsive" *ngIf="flatCommissions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="upTo"><span jhiTranslate="pagoMundoApiApp.flatCommission.upTo">Up To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commission"><span jhiTranslate="pagoMundoApiApp.flatCommission.commission">Commission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="pagoMundoApiApp.flatCommission.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="pagoMundoApiApp.flatCommission.dateCreated">Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdated"><span jhiTranslate="pagoMundoApiApp.flatCommission.lastUpdated">Last Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extendedUser.id"><span jhiTranslate="pagoMundoApiApp.flatCommission.extendedUser">Extended User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flatCommission of flatCommissions ;trackBy: trackId">
                <td><a [routerLink]="['/flat-commission', flatCommission.id, 'view' ]">{{flatCommission.id}}</a></td>
                <td>{{flatCommission.upTo}}</td>
                <td>{{flatCommission.commission}}</td>
                <td>{{flatCommission.description}}</td>
                <td>{{flatCommission.dateCreated | date:'medium'}}</td>
                <td>{{flatCommission.lastUpdated | date:'medium'}}</td>
                <td>
                    <div *ngIf="flatCommission.extendedUser">
                        <a [routerLink]="['/extended-user', flatCommission.extendedUser?.id, 'view' ]" >{{flatCommission.extendedUser?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/flat-commission', flatCommission.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flat-commission', flatCommission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flat-commission', { outlets: { popup: flatCommission.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="flatCommissions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
